.narrow_column{
	width: 194px;
	text-align: center;
	float: left;
}

.wide_column{
	float: right;
	// border: 1px solid red;
	width: 766px;
	// margin-left: 20px;
	position: relative;
	h2{
		font:100 50px 'Roboto Condensed';
		strong{
			font-weight: 500;
		}
	}
	p{
		// line-height: 26px;
		font:300 18px/26px Roboto; 
		margin-bottom: 30px;
	}

	
	#comments{
		left: 0;
		// position: static; 
		padding: 20px 0 15px;
		a{
			color: #6179A9;
		}	
		.fr{
			text-align: right;
			padding: 10px ;
			// width: 100%;
		}
	}
	.single_comment,.hgroup{
			width:auto;
			margin-bottom: 0; 
	}

	.bubble{
		font-size: 15px;
		font-family: Roboto; 
		textarea{
			font-family: inherit;
			font-size: inherit;
		}		
	}
	#phone_columns {
		overflow-x: auto;
	}

	#columns_phones{
		// border: 1px solid red;
		// position: static;
	}
	.row_titles{
		margin:0;
	}
	.phone_column{
		margin: 0;
		width: 280px;
	}
	.phone_column_features{
		background: none;
		
	}
	.row_titles .phone_column_features{
		width: 183px;
	}
	.smartphones{
		margin-top: 0;
		.ad_side{
			margin-top:0
		}
	}
}
#comments{
	.tiles_holder{
		right: -131px;
		a{
			color: white;
		}
		a.active{
			color: black;
		}
	}
}
.sp{
	.tiles_holder{
		right: -163px;
		}
}

#etiqueta{
	width: 200px;
	height: 188px;
	position: absolute;
	background: #fff url(../img/etiqueta.png) no-repeat;
	right: -19px;
	margin-top: 25px;
	img{
		z-index: 100;
		position: relative;
	}
	.item_big_fichas{
		position: absolute;
		top: 96px;
		right: 75px;
		font:700 38px 'Roboto Condensed';
		.rotate(-30deg);
		span,small{
			color: #67A8D6;
			display: block;
		}
		span{
			line-height: 30px;

		} 
		small{
		 	font-size: 11px;
		 	font-weight: 300;
		 	text-align: center;
		}
	}
	&:hover{
		background-color: #FFF291;
	}
}
.lista_cursor{
	font-family:Roboto,'Roboto Condensed',sans-serif;
	text-align: left;
	margin-top: 20px;
	a{
		display: block;
		background: #fefefe;
		line-height:40px;
		padding-left: 16px;
		font-weight: 400;
		border-bottom: 1px solid #eee;
		.gradient(linear-gradient(to bottom, #fff,#F7F6F4));
		&:hover,&.activo{
			text-decoration: none;
			background: #DE5A5A;
			color: white;
			position: relative;
			&:after{
				content: '';
				border-width: 20px 0 20px 13px;
				border-style: inset inset inset solid;
				border-color: transparent transparent transparent #DE5A5A;
				position: absolute;
				right: -13px;
			}
		}
	}
}
.barcode{
	background:url(../img/barcode.png) no-repeat;
	width: 163px;
	height: 152px;
	display: inline-block;
	margin: 20px 0 30px;
	em{
		margin-top: 25px;
		display: block;
		font:700 13px Roboto;
	}
	strong{
		display: block;
		color: #67A8D6;
		font:300 32px 'Roboto Condensed';
	}
}


.iconos{
	width: 500px;
	font:11px 'Roboto Condensed';
	margin: 40px 0 40px;
	.item{
		float: left;
		// border: 1px solid red;
		width: 120px;
		margin-bottom: 16px;
		*{
			display: block;
		}
		span{
			font-weight: 300;
			color:#AFAFAF;
			margin-top: 8px;
		}
		i{
		    .sprite_iconos;
			width: 50px; 
			height: 49px;	
			float: left;
			margin-right: 3px;		
		}
		.ico_video{  background-position:-20px -20px; }
		.ico_foto{  background-position:-20px -89px; }
		.ico_display{  background-position:-20px -158px; }
		.ico_android{  background-position:-20px -227px; }
		.ico_gps{  background-position:-20px -296px; }
		.ico_mem{  background-position:-20px -365px; }
		.ico_quad{  background-position:-20px -434px; }
		.ico_rede{  background-position:-20px -503px; }
	}
}
.onde_comprar{
	background: #F1F4F7;
	padding: 10px 18px;
	.wide_column{
		padding: 20px 0px;
	}
}
.compras_items{
	padding: 22px 5px;
}
.item_compra{
	overflow: hidden;
	padding: 18px 0;
	>*{
		float: left;
	}
	.desc{
		width:280px;
		display: block;
		font-family: 'Roboto Condensed';
		font-size:16px;
	}
	.shop_places{
		background: white;
		// border:1px solid red;
		width: 320px; 
		margin-left: 20px;
		.border-radius(8px);
		padding:18px 12px; 
		position: relative;
		&:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-width: 12px 18px 12px 0;
			border-style: inset solid inset inset;
			top: 40px;
			left: -18px;
			border-color: transparent white transparent transparent;
		}
	}
	.shop_logo{
		float: left;
		margin-right: 70px;
		margin-left: 20px;
		font-size: 10px;
		text-align: center;
		color: #A3A3A3;
		&:hover{
			text-decoration: none;
			color: #222;
		}
		img{
			display: block;
			background: white;
			padding:12px 7px;
			border: 1px solid #eee;
		}
	}
	.price{
		width: 130px;
		float: left;
		text-align: center;
		a:hover{
			text-decoration: none;
		}
		
		strong{
			font-size: 26px;
			color: #7FA7A9;
			font-weight: 400;
			margin-bottom: 5px;
			display: block;
			small{
				font-size: 20px;
			}
		}
	}
	
	.thum_compra{
		margin-right: 10px;
	}
}
.green_button{
		display: block;
		background: #9FBC47;
		color: white;
		padding: 4px 6px;
		font-weight: 500;
		.border-radius(4px);
		text-align: center;
		// text-decoration: none;
		&:hover{
			text-decoration: none;
			color: white;
			background: #BBDD53;
		}

	

}
.social_centrado{
	text-align: center;
	ul{
		display: inline-block;
	}
}

.centered{
	width: 180px; 
	display: block;
	// background: red;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	position: relative;
	color: #C4C2C7;
	&:hover{
		background: white;
		color: #C4C2C7;
		text-decoration: none;
		.border-radius(4px);
	}
	&:after{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			right: 10px;
			top: 11px;
			border-width: 8px 5px 0px 5px;
			border-style: solid inset inset inset;
			border-color: #C4C2C7 transparent transparent transparent;

	}

}
.player_video{
	background: #1C1C1C;
	margin: 40px 0px 40px;
	position: relative;
	padding: 0px 16px 30px;
	h3{
		background: #A2CC20;
		color: #FFF;
		padding: 5px;
		position: relative;
		top: -15px;
		width: 340px;
		max-width: 400px;
		text-align: center;
		font-weight: 300;
		font-weight: 400;
		font-size: 16px;
	}
	.player{
		margin-top: 6px;
		display: block;
	}
	.add_comment{
		background: #101010;
		color: #8B9D53;
		display: block;
		width: 382px;
		padding: 7px 12px;
		font-weight: 500;
		margin-top: 25px;
		font-size: 15px;
		em{
			color: white;
		}
		&:hover{
			text-decoration: none;
		}
	}
}
.tabs{
	// background: #EBE7DB;
	// border: 1px solid #D6D1BB;
	// .border-radius(3px); 
	
	// position: relative;
	padding-bottom: 48px;
	>ul{
		// position: absolute;
		// bottom: -1px;
		padding-left: 16px;
		background: #EBE7DB;

		border: 1px solid #D6D1BB;
		.border-radius(3px); 
		height: 44px;
		// margin-bottom: 20px;
		li{
			float: left;
			position: relative;
			bottom: -7px;
			a{
				display: block;
			
				
			
				padding: 9px 25px;
				margin-right: 5px;
				.border-radius(2px); 
				&.activo{
					background: white;
					border: 1px solid #D6D1BB;
						border-bottom: 0;
				}
				&:hover{
					text-decoration: none;
					// background: #DBCFB0; 
				}
			}
		}
	}
}
.tabs_content{
	// border: 1px solid red;
	// padding-top:35px;
	display: none;
	ul{
		li{
			float: left;
			width: 152px;
			height: 152px;
			margin:0px 1px 1px 0px;
			&:nth-child(5n){
				// margin-right: 0;
			}
		}
		img{

		}
	}
	.ads{
		float: right;
		padding: 25px 0;
	}

	.shop_places{
		background: #F1F4F7;
		&:after{
			border-color: transparent #F1F4F7 transparent transparent;
		}
	}
	.item_compra{
		border-bottom: 1px solid #eee;
		padding: 10px 0;
		&:last-child{
			border-bottom: 0;
		}
	}
	&:nth-of-type(1){
		display:block;
	}
	
}
.tab_header{
	.gradient(linear-gradient(to bottom, #ffffff,#F3F2EE));
	.box-shadow(0 3px 5px -4px #AAA);
	position: relative;
	height: 42px;
	line-height: 42px;
	padding-left: 20px;
	margin-bottom: 10px;
	width: 785px;
	font-size: 12px;
	z-index: 2;
	strong{
		font-weight: 700;
	}
	.negocio,.price{
		position: absolute;
		top: 0px;
		
		width: 150px;
		text-align: center;
	}
	.negocio{
		right: 250px;	
	}
	.price{
		right: 65px;
	}
	&:after{
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-width: 10px;
		border-style: solid inset inset solid;
		border-color: #C4C4C4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #C4C4C4;
		right: 1px;
		bottom: -20px;
	}
}
.top_review{
	font: 400 13px 'Roboto Condensed';
	width: 520px;
	// border: 1px solid red;
	overflow: hidden;
	margin: 40px 0 50px;
	color: #838070;
}
.ritem{
	float: left;
	width: 240px;
	position: relative;
	margin-right: 35px;
	margin-bottom: 5px;
	
	&:nth-child(2n){
		margin-right: 0;
	}
	.estrellas{
		position: absolute;
		right: 0;
		top: 0;
		width: 84px;
		// border: 1px solid green;
		img{
			margin-right: 2px;
		}
	}
}
.topicos_review,.review_video{
	background: #F5F7F9;
	border: 1px solid #E3E7EC;
	.border-radius(8px);
	padding: 10px;
	float: left;
	height: 100px;
	margin-bottom: 60px;
}
.topicos_review{
	width: 400px;
	margin-right: 20px;
	position: relative;
	padding-bottom: 5px;
	h4{
		font-weight: 400;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.pagetop{
		float: left;
		display: block;
		width: 200px;
		font-size: 12px;
		margin-bottom: 6px;
		span{
			background: #BEBDBD;
			color: white;
			padding: 1px 4px;
			text-align: center;
			.border-radius(50%);
			margin-right: 8px;
			font-size: 10px;

		}
		&:hover{
			text-decoration: none; 
		}
	}

	&:after,&:before{
		.triangle;
	}
	&:after{
		border-color: rgba(0, 0, 0, 0) white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-style: inset solid inset inset;
		border-width: 6px 8px;
		top: 55px;
		right: -1px;
	}
	&:before{
		border-color: rgba(0, 0, 0, 0) #E3E7EC rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-style: inset solid inset inset;
		border-width: 8px 10px;
		top: 53px;
		right: -1px;
	}

}
.review_video{
	width: 300px;
	position: relative;
	height: 95px;
	// padding-top: 20px;
	.image_video{
		float: left;
		margin-right: 15px;
	}
	.model_title{
		font-size: 13px;
		margin-top: 10px;
	}
	strong{
		font-weight: 500;
	}
	.green_button{
		float: left;
		margin-top: 6px;
		width: 110px;
	}
	&:after,&:before{
		.triangle;
	}
	&:after{
		border-color: rgba(0, 0, 0, 0) #F5F7F9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-style: inset solid inset inset;
		border-width: 6px 8px;
		top: 55px;
		left: -16px;
	}
	&:before{
		border-color: rgba(0, 0, 0, 0) #E3E7EC rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		border-style: inset solid inset inset;
		border-width: 8px 10px;
		top: 53px;
		left: -20px;
	}
}
.image_label{
	clear: both;
	margin-bottom: 20px;
	position: relative;
	margin-top: 50px;
	.labelo{		
		display: block;
		position: absolute;
		top: -17px;
		left: 12px;	
		margin: 0;		
	}
}

	.labelo{
		background: #A2CC20;
		color: white;
		padding: 6px 22px;
		font-weight:500;
		font-size: 18px;
		display: inline-block;	
		text-align: center;	
		margin-bottom: 20px;	
	}

.mr{
	margin-right: 1px;
	margin-bottom: 15px;
}
.aleft{
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
}
#grid_images{
	margin-bottom: 20px;
}
.pontos{
	width: 50%;
	float: left;
	padding: 40px 0 30px;
	ul{
		list-style: disc;
		margin-left: 45px;
		font-size: 30px;
		li{
			line-height: 21px;
		}
	}
	span{
		font-size: 14px;
		position: relative;
		top: -6px;
		color:#000;
	}
	img{
		margin-left: 25px;
		margin-bottom: 20px;
	}
}
#fortes{
	background: #EFFDC2;
	ul{
		 color: #86AD0C;
	}
}
#fracos{
	background: #FDF0F0;
	ul{
		color: #DD2626;
	}
}


.triangle{
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
}

#fracos_fortes{
	margin-bottom: 40px;
}
.item_avaliacao{
	border-top: 1px solid #EEE;
	padding-top: 14px;
	&:nth-child(1){
		border:none;
	}
	strong{
		font-size: 18px;
		font-weight: 400;
	}
	.estrellas_big{
		background: #F3F6F8;
		float: left;
		padding: 6px 10px 4px 14px;
		margin-right: 12px;
		border: 1px solid #E1E6EB;
		.border-radius(6px);
		position: relative;
		img{
			margin: 0 5px 0 0;
		}
		&:after,&:before{
			.triangle;
		}
		&:after{
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #F3F6F8 rgba(0, 0, 0, 0);
			border-style: inset inset solid inset;
			border-width: 7px 4px;
			top: -14px;
			left: 10px;
		}
		&:before{
			border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #E1E6EB rgba(0, 0, 0, 0);
			border-style: inset inset solid inset;
			border-width: 8px 5px;
			top: -16px;
			left: 9px;
		}

	}
	.stars_desc{
		margin-top: 10px;
		p{
			margin-left:164px;
		}
	}
}
#video_section{
	background: #1C1C1C;
	margin-top: 30px;
	padding-bottom: 0px;
	.player_video{
		margin: -11px 0 0 0;
	}
}

.admin{
	width: 1100px; 
	#topnav ul{
		margin-left: 45px; 
		font-weight: 500;
	}
	#nav_menu #home{
		left: 18px;
	}
	#topnav li a {
		padding: 0 11px;
	}
}
.left_column{
	width: 824px;
	float: left;

}
.right_column{
	float: right;
	width: 222px;
}

h2.title{
	font-size: 28px; 
	font-weight: bold;

}
h3.title{
	font-size: 19px; 
	font-weight: bold;
	color:#cfcfce;
}
.blue_filters{
	background: #f0f7fb;
	padding: 15px 20px; 
	margin-bottom: 10px;
	font-size: 13px;
	>*{
		margin-right: 12px;
	}
	.reset,.filter{
		padding:2px 10px;
		.border-radius(4px);
	}
	.reset{
		border: 1px solid #aed2e4;
		background: #e2edf5;
	
	}
	.filter{
		background: #527eab;
		color: white;
		float: right;
	}
	select{
		padding: 3px 3px 3px 6px;
		border: 1px solid #DBDBDB;
	}
}
.item_stream,.setters{
	border: 1px solid #cfcfce;
}
.item_stream{
	padding: 20px 15px 25px;
	margin-bottom: 5px;
	.border-radius(8px);
	position: relative;
	color: #9b9a9a;
	font-size: 15px;
	font-weight: 400;
	.gradient(linear-gradient(to bottom, #fff,#eee));
	strong{
		font-size: 	23px;
		font-weight: 300;
		color: #222;
		margin: 7px 0;
		font-family: 'Roboto Condensed';
		display: block;
		width: 630px;
	}
	i{
		color:#de5a5a;
		font-style: normal		
	}
	&.red{
		.gradient(linear-gradient(to bottom, #fff6f3,#ffe4e4));
	}
	&.green{
		.gradient(linear-gradient(to bottom, #f8feed,#e9f7ca));
	}
	&.yellow{
		.gradient(linear-gradient(to bottom, #faf9ec,#fbf3bc));
	}

}
.setters{
	background: white;
	position: absolute;
	padding: 5px 10px;
	.border-radius(8px);
	right: 10px;
	color: #222;
	font-weight: 300;
	input{
		margin-right:4px;
		bottom: -1px;
		position: relative;
	}

}
#wr{
	top: 11px;
}
#nwr{
	top: 48px;
}
.tops{
	border: 1px solid #cfcfce;
	.border-radius(8px);
	padding: 15px  6px 10px;
	font-size: 17px;
	font-family: 'Roboto Condensed';
	text-indent: 5px;
	.gradient(linear-gradient(to right, #f8f7f9,#f7f6f8));
	li{
		border-top: 1px solid #cfcfce;
		&:first-child {
			border-top: none;
			a{
				padding-top: 0;
			}
		}
	}
	a{
		display: block;
		padding: 13px 0px;
		span{
			content: 'algo';
			background: #CACACA;
			color: white;
			.border-radius(50%);
			float: right;
			width: 28px;
			height: 22px;
			text-align: center;
			font-size: 12px;
			padding-top: 6px;
			text-indent: 0;
			margin-right: 10px;
		}
		&:hover{
			text-decoration: none;
		}
	}
	li{
		@base_color_circle:#ea3012;
		&:nth-child(1) span{
			background: @base_color_circle;
		}
		&:nth-child(2) span{
			background: saturate(spin(@base_color_circle,2%),15%); 
		}
		&:nth-child(3) span{
			background: saturate(spin(@base_color_circle,4%),15%); 
		}
		&:nth-child(4) span{
			background: saturate(spin(@base_color_circle,6%),15%); 
		}
		&:nth-child(5) span{
			background: saturate(spin(@base_color_circle,8%),15%); 
		}
		&:nth-child(6) span{
			background: saturate(spin(@base_color_circle,10%),15%); 
		}
		&:nth-child(7) span{
			background: saturate(spin(@base_color_circle,12%),15%); 
		}
		&:nth-child(8) span{
			background: saturate(spin(@base_color_circle,14%),15%); 
		}
		&:nth-child(9) span{
			background: saturate(spin(@base_color_circle,16%),15%); 
		}
		&:nth-child(10) span{
			background: saturate(spin(@base_color_circle,18%),15%); 
		}
		&:nth-child(11) span{
			background: saturate(spin(@base_color_circle,20%),15%); 
		}
				&:nth-child(12) span{
			background: saturate(spin(@base_color_circle,22%),15%); 
		}
				&:nth-child(13) span{
			background: saturate(spin(@base_color_circle,24%),15%); 
		}
				&:nth-child(14) span{
			background: saturate(spin(@base_color_circle,26%),15%); 
		}
				&:nth-child(15) span{
			background: saturate(spin(@base_color_circle,28%),15%); 
		}
				&:nth-child(16) span{
			background: saturate(spin(@base_color_circle,30%),15%); 
		}
				&:nth-child(17) span{
			background: saturate(spin(@base_color_circle,32%),15%); 
		}
				&:nth-child(18) span{
			background: saturate(spin(@base_color_circle,34%),15%); 
		}
			&:nth-child(19) span{
			background: saturate(spin(@base_color_circle,36%),15%); 
		}
					&:nth-child(20) span{
			background: saturate(spin(@base_color_circle,38%),15%); 
		}
	}
}
.fadmin{
	height: 139px;
	.container{
		position: static;
		text-align: center;
		padding-top: 40px;
		height: auto;
		>*{
			position: static;	
		}
	}
	#logo img{
		height: auto;
		width: 200px;
	}
}
.divider{
	height: 40px;

	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAK1tbX/GWF8EKe5uZkRLADjgNiMyByQAAC7aw57ffXkiwAAAABJRU5ErkJggg==) repeat;
	.opacity(.25);
	
		margin: 15px 0px 20px;
}
#central_content{
	margin-top: 30px;
	padding-bottom: 80px;
}

.sprite_admin{ 
	background:url("../img/admin/sprite_admin.png") top left no-repeat; }
.admin_badge{
	.sprite_admin;
	width:55px; 
	height:25px;
	background-position:-20px -20px; 
	display: block;
}
.admin .logo{
	position: static;
	img{
		float: left;
		width: 240px;
		margin-left: 10px;
		margin-top: -8px;
	}
	.admin_badge{
		float: left;
		margin-top: 16px;
	}
}
.admin header{
	height: 62px;
}
.logout{
	position: static;
}
#account_bar{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	color: #a9a9a9;
	strong{
		color: #222;
	}
}

.toolbar_sos{
	font-family: 'Roboto Condensed';
	margin-top: 40px;
	a{
		display: block;
		background: #dcdcdc;
		font-size: 25px;
		float: left;
		padding: 20px 60px 20px 20px;
		margin-right: 1px;
		color: #FFF;
		text-shadow: 0px 1px 4px #BBB;
		position: relative;
		&:hover{
			text-decoration: none;
		}
		i{
			.sprite_admin;
			display: block;
			margin-right: 10px;
			float: left;
			position: relative;
			top: 2px;
			.scale(.8);
		}
		span{
			float: left;
		}
		.ico_robot{
			 width:25px; height:30px; background-position:-20px -112px;
		
		}
		.ico_apple{
			width:24px; height:27px; background-position:-20px -65px; 
		}
		.ico_windows{
			top: 6px;
			width:21px; height:23px; background-position:-20px -271px;
		}

		&:nth-child(1){
			&:hover,&.activo{
				background:#85b9de;
				&:after{
					border-top-color: #85b9de;
				}
			}	
		}
		&:nth-child(2){
			&:hover,&.activo{
				background:#a2cc20;
				&:after{
					border-top-color: #a2cc20;
				}
			}	
		}
		&:nth-child(3){
			&:hover,&.activo{
				background:#ffa757;
				&:after{
					border-top-color: #ffa757;
				}
			}	
		}
		&:nth-child(4){
			&:hover,&.activo{
				background:#49c3f0;
				&:after{
					border-top-color: #49c3f0;
				}
			}	
		}
		&:nth-child(5){
			&:hover,&.activo{
				background:#be90ee;
				&:after{
					border-top-color: #be90ee;
				}
			}	
		}

		&:after{
			content: '';
			width: 0;
			height: 0;
			border-width: 7px;
			border-style: solid inset inset inset;
			border-color: transparent transparent transparent transparent;
			position: absolute;
			bottom: -13px;
			right:40px;
		}
	}
}

.add_btn{
	
	text-align: center;
	margin-top: 40px; 
}
.add_new{
	
	color: white;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 13px;
	.border-radius(5px);
	background-color: #527eab;
	display: block;
	width: 137px;
	margin: 0 auto;

	&:before{
		content: '';
		.sprite_admin;
		background-color: white;
		padding: 10px;
		.border-radius(50%);
		width:10px; 
		height:10px; 
		background-position:-14px -187px; 
		display: block;
		float: left;
		margin-top: -3px;
	}
	

	background-position:-20px -194px;
	&:hover{
		background: saturate(#527eab,20%);
		color: white;
		text-decoration: none;
	}
}
.item_new{
	.box-shadow(0px 1px 1px #A7A7A7);
	color: #000;
	position: relative;
	&:hover{
		background: #dce5ee;
		.flaps{
			display: block;
		}
	}
	.col_new,.col_sos,.col_controls,.col_views,.col_comm{
		float:left;
		// border: 1px solid #222;
	}
	.col_new{		
		width: 610px;
		margin-right: 50px;
		span{
			color:#9b9a9a;
		}
		strong{
			width: auto;
		}
	}
	.autor{
		color: #78b0d8;
		margin-left: 8px;
		font-weight: 500;
	}
 	.col_sos{
 		width: 45px;
 		margin-right: 20px;
 		margin-top: 28px;
 		.c_android,.c_windows,.c_apple{
			width: 40px;
			height: 40px;
			// border: 1px solid red;
			margin: 0 auto;
			.border-radius(50%);
			.sprite_admin;
 		}
 		.c_android{
			background-color: #a2cc20;
			background-position:-12px -106px;
 		}
 		.c_windows{
			background-color: #49c3f0;
			background-position: -11px -262px;
 		}
 		.c_apple{
			background-color: #ffa757;
			 background-position:-12px -60px;
 		}
 	}
 	.col_controls{
 		width: 105px;
 		margin-right: 60px;
 		margin-top: 35px;
 		label{
 			background: #ffffff;
 			border:1px solid #ddd;
 			padding: 4px 8px;
 			.border-radius(8px); 
 			input{
 				margin-right:6px;

 			}
 		}
 	}
 	.col_views{
 		width: 60px;
 		margin-right: 10px;
 		text-align: center;
 		font-size: 16px;
 		font-weight: 300;
 		margin-top: 35px;
 	}
 	.col_comm{
 		width: 60px;
 		margin-top: 35px;
 		text-align: center;
 		font-size: 16px;
 		font-weight: 300;
 	}
 	.flaps{
 		width: 27px;
		display: none;
 		// height: 100px;
 		position: absolute;
 		// border:1px solid red;
 		right: -28px;
 		top: 0px;
 		margin-top: 20px;
 		a{
 			display: block;
 			width: 100%;
 			height: 30px;
			// border: 1px solid blue;
			margin-bottom: 4px;
			.sprite_admin;
			background-color: #527eab;
			.border-radius(0 5px 5px 0);
			.transition(all .1s ease-out);
			&:hover{
				padding-left: 15px;
				background-position-x: -5px; 
			}
 		}
 		.wacth{
			background-position:-17px -153px; 	
 		}
 		.pencil{
			background-position:-15px -226px;
 		}
 	}
}
#titles_bar{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAOPHz/+z4gsBhKQlZVlhAvCBECKwILIAmBBdAGQIAD4axOudS11UAAAAABJRU5ErkJggg==) repeat;
	
	height: 35px;
	margin: 17px 0 26px;
	position: relative;
	overflow: hidden;
	>*{
		background: #a2cc20;
		color: white;
		text-shadow:1px 1px 1px #8F8F8F;
		padding: 7px 11px;
		float: left;
		font-size: 16px;
		font-family: 'Roboto Condensed';
	}

	#title_so{
		margin-left: 15px;
		margin-right:18px;
	}
	#title_new{
		width: 230px;
		margin-right: 580px;
	}
	#title_view{
		margin-right: 20px;
		margin-right: 12px;
	}


}