@font-face {
    font-family:'FaktConPro-SemiBold';
    src:url('fonts/FaktConPro-SemiBold.ttf');
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family:'FaktConPro-SemiBoldItalic';
    src:url('fonts/FaktConPro-SemiBoldItalic.ttf');
    font-weight:normal;
    font-style:normal 
}

@font-face {
    font-family:'FaktSmConPro-SemiBold';
    src:url('fonts/FaktSmConPro-SemiBold.ttf');
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family:'FaktSmConPro-SemiBoldItalic';
    src:url('fonts/FaktSmConPro-SemiBoldItalic.ttf');
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family:'FaktSmConPro-Normal';
    src:url('fonts/FaktSmConPro-Normal.ttf');
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family:'FaktSmConPro-NormalItalic';
    src:url('fonts/FaktSmConPro-NormalItalic.ttf');
    font-weight:normal;
    font-style:normal
}
