.icones{ background:url("icones.jpg") top left no-repeat; }
.ico_video{ width:50px; height:49px; background-position:-20px -20px; }
.ico_foto{ width:50px; height:49px; background-position:-20px -89px; }
.ico_display{ width:50px; height:49px; background-position:-20px -158px; }
.ico_android{ width:50px; height:49px; background-position:-20px -227px; }
.ico_gps{ width:50px; height:49px; background-position:-20px -296px; }
.ico_mem{ width:50px; height:49px; background-position:-20px -365px; }
.ico_quad{ width:50px; height:49px; background-position:-20px -434px; }
.ico_rede{ width:50px; height:49px; background-position:-20px -503px; }

