/*RESET*/
html,body{margin:0;padding:0}h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:normal;font-size:100%;line-height:inherit;font-family:inherit}table{border-collapse:collapse;border-spacing:0}ol,ul{list-style:none}q:before,q:after,blockquote:before,blockquote:after{content:""}html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:hover,a:active{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0;-ms-interpolation-mode:bicubic}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;*overflow:visible}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;vertical-align:top}
/*FIN RESET*/
@import "lesshat.less";

body{
	background:#5D5D5D;
	.gradient(radial-gradient(circle at center, #8B8A8A 0%,#5D5D5D 100%));
	font:300 14px 'Roboto'; 
}
#login_form{
	background: white;
	width: 512px;
	height: 400px;
	margin:150px auto 0;
	.border-radius(6px);
	padding: 40px;
	.box-sizing(border-box);
	position: relative;
	.box-shadow(0 2px 9px #474747);

    &:before, &:after 
{
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.4); 
  -webkit-box-shadow: 0 15px 12px rgba(0,0,0, 0.4);   
  -moz-box-shadow: 0 15px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(-3deg);    
  -moz-transform: rotate(-3deg);   
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

&:after 
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

	
	input[type="text"],
	input[type="password"]{
		background: #8D8D8D;
		.box-shadow(~"0px 1px 0px 0px rgba(255,255,255,0.25) ,inset 0px 1px 8px 0px rgba(0,0,0,0.25)");
		padding:18px 20px;
		border: none;
		width: 395px;
		.border-radius(5px);
		margin-bottom: 25px;
		color: #D1D1D1;
		font:300 18px 'Roboto'; 
	}
	form{
		position: relative;
		&:before{
			content: '';
			display: block;
			background: url(../img/admin/login_03.png) no-repeat;
			width: 182px;
			height: 65px;
			position: absolute;
			top: -156px;
			left: 132px;
		}
	}
	#submit{
		background: #A1CB1F;
		color: white;
		font-weight: bold;
		border: none;
		font:700 27px 'Roboto Condensed'; 
		padding: 12px 35px;
		text-shadow: 0 1px 1px #222;
		position: absolute;
		right: -49px;
		bottom: -70px;

	}
	
	.submit:after{
			content:'';
			display: block;
			width: 0;
			height: 0;
			border-color: #739115 transparent transparent #739115;
			border-width: 6px 5px;
			border-style: solid inset inset solid;
			position: absolute;
			bottom: -82px;
			right: -50px;
	}
	.close{
		float: right;
		margin-top: 10px;
	}
	.logo{
		margin-bottom: 41px;
	}
	.forgot{
		width: 130px;
		display: block;
		margin-top: 20px;
		float: left;
		// border: 1px solid red;
		input{
			margin-right: 6px;
		}
		label{
			display: inline-block;
			margin-bottom: 5px;
			color: #949494;
			cursor: pointer;
		}
		a{ 
			font-size: 12px;
		}
	}
	a{
		color:#71A8CE;
	}
}
::-webkit-input-placeholder{
	color: #D1D1D1;
}
:-moz-placeholder{
	color: #D1D1D1;
}
::-moz-placeholder{
	color: #D1D1D1;
}
:-ms-input-placeholder{
	color: #D1D1D1;
}