
@font-face {
    font-family:'NRegular';
    src:url('fonts/neuzeitgrot-webfont.eot');
    src:url('fonts/neuzeitgrot-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/neuzeitgrot-webfont.woff') format('woff'),
    url('fonts/neuzeitgrot-webfont.ttf') format('truetype'),
    url('fonts/neuzeitgrot-webfont.svg#neuzeitgrotregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'NRegular';
    src:url('fonts/neuzeitgrot_bold-webfont.eot');
    src:url('fonts/neuzeitgrot_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/neuzeitgrot_bold-webfont.woff') format('woff'),
    url('fonts/neuzeitgrot_bold-webfont.ttf') format('truetype'),
    url('fonts/neuzeitgrot_bold-webfont.svg#neuzeitgrotbold') format('svg');
    font-weight:bold;
    font-style:normal;
}
