/*RESET*/
html,body{margin:0;padding:0}h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:normal;font-size:100%;line-height:inherit;font-family:inherit}table{border-collapse:collapse;border-spacing:0}ol,ul{list-style:none}q:before,q:after,blockquote:before,blockquote:after{content:""}html{overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:hover,a:active{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0;-ms-interpolation-mode:bicubic}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;*overflow:visible}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;vertical-align:top}
/*FIN RESET*/
@import "lesshat.less";
// @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700);
// @import url(http://fonts.googleapsi.com/css?family=Roboto:400,300);

.ib{
	display: inline-block;
	vertical-align: top;
}

/*SPRITES CSS*/

.sprites{ 
	background:url("../img/sprites7.png") top left no-repeat; 
} 

a{
	color: inherit;	
	text-decoration: none;
	&:hover{
		color: inherit;	
	}
}

.g{ width:30px; height:25px; background-position:-20px -20px; }
.rss{ width:23px; height:23px; background-position:-20px -65px; }
.fb{ width:16px; height:34px; background-position:-20px -108px; }
.yt{ width:28px; height:34px; background-position:-20px -162px; }
.tw{ width:32px; height:22px; background-position:-20px -216px; }
// .triangle{ width:25px; height:31px; background-position:-20px -258px; }
.icon{ width:45px; height:52px; background-position:-13px -306px; }
.plus{ width:30px; height:31px; background-position:-20px -381px; }
// .camera{ width:15px; height:14px; background-position:-20px -432px; }
// .display{ width:14px; height:14px; background-position:-20px -466px; } 
// .cpu{ width:18px; height:17px; background-position:-20px -500px !important; }
// .apple{ width:15px; height:14px; background-position:-20px -535px !important; }
.win{ width:21px; height:21px; background-position:-20px -571px; }
.home{ width:23px; height:23px; background-position:-20px -612px; }
// .ocom{ width:15px; height:11px; background-position:-20px -655px; }
.gcom{ width:21px; height:21px; background-position:-20px -686px; }
.robot{ width:21px; height:21px; background-position:-20px -727px; }

 

.resaltar{
	border: 1px solid red !important;
}
.innerpadding{
	padding: 12px 10px;
}

body{
	font-size: 14px;
	font-family: "BentonSans64", sans-serif; 
	line-height: normal; 
	background: #222;
}

.container{
	width: 1000px;
	background: white;
	margin: 0 auto;
}

/*
========== SECCION DE LA CABECERA ===============
*/
 
header{
	height: 83px;
	position: relative;

	a{
		position: absolute; 
		left: 20px;
	}
}
#search{
		position: absolute;
		border: 1px solid #ececec;
		padding: 10px 12px;
		.border-radius(14px);
		.box-shadow(inset 0 2px 3px #ddd);
		right: 20px;
		top: 20px;
		width: 600px;

}
/*
============ SECCION DE NAVEGACION PRINCIPAL ====================
*/

#nav_menu{	
	ul{	
		li{
			display: inline-block;
			/*.transition(all .3s ease-out);*/
			a{
				text-decoration: none;
				text-shadow:0 1px 1px #000;
				font-weight: bold;
				display: block; 
				/*.transition(all .3s ease-out);*/
			}
		}
	}
	#home,#iclogin{
		position: absolute;
	}
	#home{
		top: 10px;
		left: 22px;
		.sprites;
		.home !important;
	}
	#iclogin{
		top: -16px;
		left: 56px;
		display: block;
		padding: 4px 7px 0px;	
		.sprites; 
		width: 48px;
		height: 52px;
		background-position: -11px -304px;
		&:hover{
			background-color: rgba(190, 190, 190, 0.6);
			/*.mygradient(rgba(190,190,190,.6), rgba(153,153,153,.6));*/
			/*.box-shadow(0 2px 3px rgba(0, 0, 0, 0.45));*/
			.box-shadow(~"5px 0 6px -6px rgba(0,0,0,0.6),-5px 0 6px -6px rgba(0,0,0,0.6)");
		}
	}
}
#seccionlogin.logged{
	width: 138px;
	position: absolute;
	left: 66px;
	top: -11px;
	background: rgba(116, 116, 116, 0.42);
	color: #FAFAFA;
	padding: 5px 6px;
	.box-shadow(-3px 0px 7px -5px #000);
	&:before{
		content: '';
		display: block;
		border-style: solid;
		width: 0;
		border-width: 0;
		border-top-width: 30px;
		border-right-width: 5px;
		border-color: #4E4E4E transparent transparent transparent;
		position: absolute;
		right: -5px;
		top: 10px;
	}
	&:after{
		content: '';
		display: block;
		border-style: solid;
		width: 0;
		border-width: 0;
		border-bottom-width: 28px;
		border-right-width: 5px;
		border-color: transparent transparent #3C3C3C transparent;
		position: absolute;
		right: -5px;
		bottom: 1px;
	}
	img{
		/*border:1px solid blue;*/
		vertical-align: middle;
		margin-right: 20px;
		width: 43px;
		height: 43px;
		background: #eee;
	}
	a.forum{ 
		display: inline-block;
		vertical-align: middle;
		bottom: -3px;
		position: relative;
		font-weight: bold;
	}
}
.forum{

}

#seccionlogin:hover {
	#iclogin{
		background-color: rgba(190, 190, 190, 0.5);
		.box-shadow(~"5px 0 6px -6px rgba(0,0,0,0.6),-5px 0 6px -6px rgba(0,0,0,0.6)");
		/*.box-shadow(0 2px 3px rgba(0, 0, 0, 0.45));*/

	}
	#loginform{
		display: block;
		margin: 0;
	}
}

#topnav{
 	// background: #515153;
	// .gradient(linear-gradient(top, #6f6f72 40%, #4a4a4d));	
	.mygradient(#707073,#49494b);             
	/*text-transform: uppercase;*/
	position: relative;
	height: 40px;
	border-top: 1px solid #909091;  
	/*border-bottom: 1px solid #343435;  */ 
	font-family: 'Myriad Pro',Arial,sans-serif;
	ul{	
/*		bottom: 0;
		right:65px;
		position: absolute;	*/
		margin-left: 126px;
		margin-top: -6px; 
	}
	li{
		/*position: relative;*/
		// border: 1px solid red;
		a{
			color: white;		
			padding: 17px 12px 12px;  	
			font-weight: normal !important;	
			&:hover{
				.mygradient(rgba(190,190,190,.6), rgba(153,153,153,.6));
				/*box-shadow: 10px 0 6px -6px rgba(0, 0, 0, 0.6);*/
				.box-shadow(~"5px 0 6px -6px rgba(0,0,0,0.6),-5px 0 6px -6px rgba(0,0,0,0.6)");
	/*			background: rgb(191, 191, 191);
				background: rgba(191, 191, 191, 0.2);*/
				/*.box-shadow(0 2px 3px rgba(0, 0, 0, 0.45));*/
			}
			&:after{
				content: '';
				display: inline-block;
				width: 6px;
				height: 6px;				
				.sprites;
				/*border-style: solid;
				border-width: 5px 3px 0 3px;
				border-color: #0a0a0a transparent transparent transparent;
				margin:7px 0 0 11px;*/
				vertical-align: middle;
				background-position: -189px -790px;
				margin-left: 9px;
			}
		
		}
		
		&:hover{
			>a{
				.mygradient(rgba(190,190,190,.6), rgba(153,153,153,.6));
				.box-shadow(~"5px 0 6px -6px rgba(0,0,0,0.6),-5px 0 6px -6px rgba(0,0,0,0.6)");
			}
			/*background: rgba(190, 190, 190, 0.6); */
			/*.box-shadow(0 2px 3px rgba(0, 0, 0, 0.45));*/
			.submenu{
				display: block;
			}
		}
		
	}
}

#bottomnav{
	.border-radius(0 0 6px 6px);
	.mygradient(#252527,#444446);  	
	margin:0 10px;	
	border-top: 1px solid #343435;
	height: 35px; 
	font-family: arial;
	a{
		color: #c4c4c4;
		padding-left: 23px;
		font-size: 13px;
		line-height: 34px;
		/*&:hover{
			background: rgba(191, 191, 191, 0.8)
		}*/
	}
}

.submenu{
	display: none;
	position: absolute;
	/*background:rgba(93, 93, 93, 0.6);*/ 
	/*.mygra*/
	.mygradient(rgba(152,152,152,.58),rgba(86,86,86,.58));
	padding: 11px;
	// width: 500px;
	width: 867px;
	/*left:-300px;*/
	max-height: 350px;
	overflow: hidden;
	.box-shadow(-1px 2px 5px rgba(0,0,0,.31));
	border-top: 1px solid rgba(169,169,169,.60);
	border-right:1px solid rgba(169,169,169,.6);
	/*.resaltar;*/
	/*top: 48px; */
	z-index: 10;
	margin: 0 auto;
	left: 0;
	right: 0; 
	top:40px;
	div.content{
		/*background: #efefef;*/
		.mygradient(#f4f4f4,#dadada); 
		padding: 12px;
	}
}
#loginform{
	position: absolute;
	top: 40px;
	width: 250px;
	left: 36px;
	p{
		margin: 2px 0px 8px;
		input[type='text']{
			padding: 6px 9px;
			border:1px solid #ddd;
			width: 92%;
			color: #587a7c;
		}
		input[type='button'],input[type='submit']{
			border: none;
			color: white;
			text-transform: uppercase;
			.border-radius(4px);
			padding: 7px 15px; 
			
		}
		#loginbtn{
			background: #9fbc47;
			margin-right: 10px;
			&:hover{
				background: darken(#9fbc47,15%);
			}
		}
		#register{
			background: #7da7aa;
			&:hover{
				background: darken(#7da7aa,15%);
			}
		}
		&.remember{
			margin-bottom: 30px;
			input{
				margin-right: 5px;margin-bottom: -5px;
				position: relative;
				margin-bottom: -1px;
			}
			label{
			text-transform: capitalize;
			color:#587a7c;
			font-size: 13px;
			}
		}
	}
}
/*
============== SECCION DE LOS ADS =================
*/
.ads{
	background: #eee;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}
.ads_left{
	background: #eee;
	float: left;
	padding: 15px;
	text-align: center;
	margin-right: 15px;
}

.wide{
	height: 92px;
	width: 980px;
}
.square{
	width: 300px;
	height: 250px;
	// float: right;
	margin-bottom: 15px;
}
.square_inline{
	background: #eee;
	width: 300px;
	height: 250px;
	float: left;
	margin: 0 10px 10px 0;
}	

/*
============== SECCION CENTRAL 3 COLUMAS ================

*/
.threcolums{
	padding: 0px 10px 10px;
	>section{
		// background: #aeaeae;
		display: inline-block;
		vertical-align: top;
	}
}
.yellow_comments{
	// background:#fcd742 url(../img/comments.png) no-repeat 6px center;
	.sprites;
	background-color: #fcd742 ;
	background-position: -15px -650px;
	color: #735d06;
	.border-radius(4px);
	font-size: 12px;
	padding: 2px 8px 2px 24px;
	text-decoration: none;
	&:hover{
		background-color: darken(#fcd742,12%); 
		text-decoration: none !important;
	}
}
.gray_comments{
	.sprites; 
	.gcom;
	// background: #FFF url(../img/gcomments.png) no-repeat 5px center;
	color: #735D06;
	// font-size: 12px;
	padding: 1px 8px 5px 24px;
	position: absolute;
	right: 0;
	top: 11px;
	font-size: 13px;
	line-height: 22px;
	&:hover{
		text-decoration: none !important;
	}
}
.robot,.win{
	// width: 23px;
	// height: 23px;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
}
.android{
	// background: #FFF url(../img/ico_android.gif) no-repeat center center;
	.sprites;
	.robot !important; 
	margin-right: 5px;
} 
.apple{
	// background: #FFF url(../img/ico_android.gif) no-repeat center center;
	.sprites;
	// .robot !important; 
	width: 22px;
	height: 22px;
	margin-right: 5px;
	display: inline-block;
	background-position: -20px -766px;
	text-indent: -9999px;
	overflow: hidden;
}
.windows{
	// background: #FFF url(../img/ico_windows.gif) no-repeat center center;
	.sprites;
	.win !important;  
		margin-right: 5px;
}

.listagrande{
	// width:427px;
	width: 402px;
	margin-right: 16px;
	// .resaltar;
}

.newlist_normal{
		overflow: hidden;
		border-top: 1px solid #dddcdc;
		// padding-bottom: 18px;
		// margin: 0 25px 20px 0;
		padding-top: 18px; 
		margin-top: 18px;
		// height: 95px;
		// padding-top: 18px;
		// background: red;
		&:first-child{
			margin-top: 0;
			border: 0;
			padding-top: 0;
			// padding: 0;
		}
		a{
			text-decoration: none;
			&:hover{				
				text-decoration: underline;				
			}
		}
		img{
			width: 115px;
			height: 95px;
			float: left;
			margin:0 12px 2px 0;
		}
		h2{
			font-size: 17px;
			margin-bottom: 10px;
			color: #3E3E3E;
			margin-top: -3px;
			line-height: 22px;
		}		
		p{
			color: #757575;
			line-height: 22px;
			max-height: 46px;
			overflow: hidden;
		}
}
.newlist_icos{
	margin-bottom: 20px;
	h2{
		font-size: 15px;
		color: #3e3e3e;
	}
	.ico_sos{
		padding: 12px 0;
		position: relative;
		img{
			margin: 0 2px;
		}
	}
}

.listachica{
	width:200px;
	padding: 0 10px;
	// background: red;
	// .box-shadow(~"-30px 0 8px -30px #dddddd, 30px 0 8px -30px #dddddd"); 
	-webkit-box-shadow: -30px -8px 8px -30px #DDD,56px 49px 9px -58px #D1D1D1,75px 49px 68px -96px #DADADA,-75px 0 68px -96px #DADADA;
	-moz-box-shadow: -30px -8px 8px -30px #DDD,56px 49px 9px -58px #D1D1D1,75px 49px 68px -96px #DADADA,-75px 0 68px -96px #DADADA;
	box-shadow: -30px -8px 8px -30px #DDD,56px 49px 9px -58px #D1D1D1,75px 49px 68px -96px #DADADA,-75px 0 68px -96px #DADADA;
	// box-shadow: 30px 0 8px -30px #dddddd;
	
	a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
	}



	article{ 
		// margin:0 10px 20px;
	}
/*	h2{
		font-size: 16px;
		color: #3e3e3e;
	}
	.ico_sos{
		padding: 12px 0;
		position: relative;
		img{
			margin: 0 2px;
		}
	}*/
}
.video_item{
	width: 200px;
	height: 146px; 
	margin-bottom: 25px;
	/*border: 1px solid red;*/
	display: block;
	position: relative;
	img{
			width: 200px;
			height: 146px;
	}
				h2{
				position: absolute;
				background: #e1e1e1;
				color: white;
				bottom: 0;
				padding: 10px 13px;
				width: 173px;
				font-size: 15px;
				font-weight: 600;
				//text-shadow: 1px 1px 2px #797979;
			}
			&:after{
				content: '';
				display: block;
				width: 70px;
				height: 70px;			
				.border-radius(50%);
				position: absolute;
				top:53px;
				margin: 0 auto;
				left: 0;
				right: 0;
				.sprites;
				background-color: #e1e1e1;
				background-position: 8px -244px;			
				clip: rect(0px,74px,52px,0px);
			}
			
			&:nth-child(1){
				h2,&:after{
					background-color:rgb(235, 110, 110);
					background-color:rgba(235, 110, 110, 0.8);
				}
			}
			&:nth-child(2){
				h2,&:after{
					background-color:rgb(243, 177, 103);
					background-color:rgba(243, 177, 103 ,0.8);
				}
			}
			&:nth-child(3){
				h2,&:after{
					background-color:rgb(169, 218, 116);
					background-color:rgba(169, 218, 116,0.8);
				}
			}
			&:nth-child(4){
				h2,&:after{
					background-color:rgb(59, 200, 206);
					background-color:rgba(59, 200, 206, 0.8);
				}
			}
			&:nth-child(5){
				h2,&:after{
					background-color:rgb(70, 150, 204);
					background-color:rgba(70, 150, 204, 0.8);
				}
			}
			&:nth-child(6){
				h2,&:after{
					background-color:rgb(163, 81, 209);
					background-color:rgba(163, 81, 209, 0.8);
				}
			}
			&:nth-child(7){
				h2,&:after{
					background-color:rgb(235, 89, 171);
					background-color:rgba(235, 89, 171, 0.8);
				}
			}
			&:nth-child(8){
				h2,&:after{
					background-color:rgb(231, 217, 107);
					background-color:rgba(231, 217, 107, 0.8);
				}
			}
			&:nth-child(9){
				h2,&:after{
					background-color:rgb(72, 209, 66);
					background-color:rgba(72, 209, 66, 0.8);
				}
			}
}
.modelos{
	// width:326px;
	width: 300px;
	margin-left: 26px; 
	// background: red;
}

.modelo_item{
		clear: right;
		// margin: 0 0 18px 27px;
		border-top: 1px solid #DDDCDC;
		// padding: 0 0 24px;
		padding-top: 18px;
		margin-top: 18px;
		&:nth-of-type(1){
			margin-top: 0;
			border: 0;
			padding-top: 0;
		}
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		h2{
			color:#636363;
			font-size: 16px;
			// background: red;
			padding: 0px 0 12px 75px;
		}
		.details{
			position: relative;
			z-index: 1;
			>*{
				display: inline-block;
				vertical-align: top;
			}
			
			img{
				max-width: 59px;
			}
			
			.features{
				color: #7da4a9;
				position: absolute;
				right: 0;
				background: #fff;
				padding: 10px 8px 10px 10px;
				width: 131px;
				// border: 1px solid #ddd;
				.border-radius(6px);
				-webkit-box-shadow: 0px 0px 7px #ddd, 1px 1px 4px #dddddd;
				-moz-box-shadow: 0px 0px 7px #ddd, 1px 1px 4px #dddddd;
				box-shadow: 0px 0px 7px #ddd, 1px 1px 4px #dddddd;
				li{
					font-size: 11px;
					padding: 0 0 0 22px;
					height: 20px;
					line-height: 20px;
					font-weight: 200;
						strong{
							font-weight: bold;
						}
				}
				&:before,&:after{
				  z-index: -1;
				  position: absolute;
				  content: "";
				  bottom: 15px;
				  left: 3px;
				  width: 50%;
				  top: 80%;
				  max-width:300px;
				  background: #777;
				  .box-shadow(0 15px 8px #777);
				  .transform(rotate(-3deg));
				}
				&:after{
     			 .transform(rotate(3deg));
				  right: 3px;
				  left: auto;
				}
				.flechita{
					width: 15px;
					height: 10px;
					background: #FFF;
					padding: 0;
					// border: 1px solid #DDDCDC;
					position: absolute;
					top: 13px;
					left: -6px;
					.transform(rotate(-50deg));
					// -webkit-transform: rotate(-50deg);
					// z-index: -1;
					.box-shadow(-3px -1px 4px #EBEBEB);
				}

				// .proc{
				// 	background: url(../img/procesor.gif) no-repeat;
				// }
				.so_apple,.cpu,.display,.camera{
					.sprites;
				}
				.so_apple{
					background-position: -19px -534px;
				}
				.cpu{
					background-position:-19px -500px;
				}
				.display{
					background-position:-19px -463px;
				}
				.camera{
					// background-position: -20px -500px;
					background-position:-19px -429px; 
				}
			}
		}
}



.point{
		color: #FFF;
		background: #71B2E7;
		padding: 8px 5px;
		text-align: center;
		margin-right: 10px; 
		width: 47px;
		font-size: 12px;
		strong{
			font-size: 28px;
    		display: block;
			font-weight: 300;
			line-height: 23px;
		}
	&.mid{	background: #f9d27e; }
	&.low{	background: #f97e7e; }
}



/*
============== SECCION CELULARES CON COLORES ================
*/
.videos_phones_container{
	padding: 0px 10px 30px;
	font-size: 0;
	text-align: center;
}

.video_phone{
			// display: inline-block; 
			float: left; 
			width: 244px;
			height: 138px;
			vertical-align: top;
			position: relative;
			overflow: hidden;
			margin: 1px 1px 0 0;

			img{ 
				width: 244px;
				height: 138px;
			}
			p{
				position: absolute;
				color: #FFF;
				text-shadow: 1px 1px 2px #000;
				bottom: 0;
				z-index: 2;
				padding: 7px 12px;
				width: auto;
				font-size: 15px;
				font-weight: 600;
			}
			&:before,&:after{
				display: block;
				content: '';
				top: 0;
				left: 0;
				position: absolute;			
			}
			&:after{			
				width: 100%;
				height: 100%;
				// background: rgb(255, 255, 255);
				// background: rgba(255, 0, 0, 0.5);
				.opacity(0.7);
				.transition(all .2s ease-out);
			}
			&:before{
				width: 62px;
				height: 62px;
				border-radius: 50%;
				// background:rgba(255, 255, 255, 0.30) url(../img/triangle.png) no-repeat 61% 50%;
				.sprites; 
				 background-position:3px -243px; 
				 background-color: rgb(60,60,60);
				 background-color: rgba(255, 255, 255, 0.30);
				// background: rgb(60,60,60) url(../img/triangle.png) no-repeat 61% 50%; // Esta regla solo es para IE8
				// background: rgba(255, 255, 255, 0.30) url(../img/triangle.png) no-repeat 61% 50%;


				z-index: 5;
				margin: 35px auto 0;
				left: 0;
				right: 0;
				.transition(all .25s ease-out);
				// .opacity(0);
				// .transition(all .2s ease-out);
				// display: none;
			}

		&:hover{
			&:after{
				top:135px; 
				.opacity(0);
			}
			
			&:before{
				background-color: rgba(255, 255, 255, 0.50);			
				.scale(1.2);
			}
		}
		&:nth-child(1):after{
			background: #ff3019; 
			.gradient(~"linear-gradient(135deg,  #ff3019 0%,#8e0000 100%)");
		}
		&:nth-child(2):after{
			background: #ffc338;
			.gradient(~"linear-gradient(135deg,  #ffc338 0%,#8e4c00 100%)");
		}
		&:nth-child(3):after{
			background: #c0ff39;
			.gradient(~"linear-gradient(135deg,  #c0ff39 0%,#798e00 100%)");
		}
		&:nth-child(4):after{
			background: #39fff5;
			.gradient(~"linear-gradient(135deg,  #39fff5 0%,#008e6f 100%)");
		}
		&:nth-child(5):after{
			background: #39ceff;
			.gradient(~"linear-gradient(135deg,  #39ceff 0%,#00828e 100%)");
		}
		&:nth-child(6):after{
			background: #de39ff;
			.gradient(~"linear-gradient(135deg,  #de39ff 0%,#5f008e 100%)");
		}
		&:nth-child(7):after{
			background: #ff39cd;
			.gradient(~"linear-gradient(135deg,  #ff39cd 0%,#8e0082 100%)");
		}
		&:nth-child(8):after{
			background: #3974ff;
			.gradient(~"linear-gradient(135deg,  #3974ff 0%,#00428e 100%)");
		}
}

/*
*============= SECCION DE COMPARAR
*/

#compara{
	background: #ededed;
	padding: 15px;
	padding: 20px 15px;
	>*{
		display: inline-block;
		vertical-align: middle;
	}
	.pholder{
		// border: 1px solid #222;
		width: 195px;
		height: 230px;
		margin: 0 15px;
		background: url(../img/grayphone.gif) no-repeat center center;
		div{
			position: relative;
			&:after{
				display: block;
				content: '';			
				width: 30px;
				height: 29px;
				position: absolute;
				top: 0px;
				right: 4px;
				.border-radius(4px);
				.sprites;
				background-color: #8ca7c0;
				background-position: -159px -386px;
			}
		}
		input{
			border: 1px solid #8ea9c1;
			.border-radius(4px);
			padding: 6px 36px 6px 10px;
			margin: 99px auto;
			width: 140px;
			display: block;	
			.box-shadow(0 1px 0px #DFDFDF);
		}
	}
	>div{
		background: url(../img/gears.gif) no-repeat center center;
		width: 126px;
		height: 132px;
		margin-left: 50px;
		a{
			display: block;
			background: #EDEDED;
			color: #476785;
			text-decoration: none;
			padding: 12px 15px;
			margin: 43px auto;
			text-align: center;
			font-size: 22px;
			width: 158px;
			margin-left: -32px;
			box-shadow: 0 -17px 8px -20px #222,0 17px 8px -20px #222
		}
	}
}
/*
*============= SECCION DEL VERSUS
*/
#versus{
	font-size: 0;
	padding: 10px 7px;
	text-align: center;
	a{
		text-decoration: none;
	}
	
	&:after{
		content: '';
		display: block;
		background: #ededed;
		height: 40px;
		width: 1000px;
		position: relative;
		left: -7px;
		bottom: -10px;
	}
}

.versus_phones{
		display: inline-block;
		.border-radius(6px);
		border: 1px solid #ededed;
		// width: 296px;
		padding: 10px 6px;
		width: 310px;
		margin: 6px 7px 6px 0px;
		background: url(../img/versus.jpg) no-repeat center center; 
		
	/*	p{
			color: #636363;
			font-size: 13px;
			font-weight: 100;
		}*/
		>div{
			
			overflow: hidden;
			display: inline-block;
			*{
				display: inline-block;
				vertical-align: middle;
			}
			p{
				width:90px;
				color: #636363;
				font-size: 13px;
				font-weight: 100;
				letter-spacing: -1px;
			}
		}
		.sideleft{
			margin-right: 18px;
			img{
				margin-left: 10px;
				max-width: 41px;
			}
			p{
				text-align: right;
			}
			
		}
		.sideright{
			margin-left: 18px;
			img{
				margin-right: 10px;
				max-width: 41px;
			}
			p{
				text-align: left;
			}
		}
		&:nth-child(3n){
			margin-right: 0;
		}

		&:hover{
			.box-shadow(0 0 8px #ddd);
		}
}

/*
============== SECCION DEL FOOTER ========================
*/


footer{
	// .resaltar;
	width: auto;
	height: 235px;	
	clear: both; 
	.mygradient(#292929,#0a0a0a);
	.container{
		height: 100%; 
		background: none;
		
		position: relative;
		>*{
			position: absolute;
		}
		p{
			top: 136px;
			left: 25px;
			color: #868686;
			font-weight: 500;
			font-size: 12px;
		}
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	#logo{
		top: 90px;
		left: 25px;
	}
	.footer_nav{
		top: 153px;
		left: 25px;
		a{
			color: #a9a9a9;
			font-size: 12px;
			margin-right:12px;
			font-weight: 600;
		}
	}
	.social{
		right: 12px;
		top: 97px;
	   a{
		display: inline-block;
		background: #282828;
		border: 2px solid #424242;
		.border-radius(50%);
		// padding: 26px;
		.box-shadow(2px 4px 2px #000);
		margin-right: 10px;
		width: 60px;
		height: 60px;
			i{
				display: block;
				margin: 0 auto;
				&.fb{
					margin-top: 13px;
				}
				&.tw{
					margin-top: 19px;
				}
				&.yt{
					margin-top: 13px;
				}
				&.g{
					margin-top: 20px;
				}
				&.rss{
					margin-top: 18px;
				}
			}
		}
	}
}








/*
* SECCION NOTIZIAd
*/

#hero{
	// .resaltar;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin-bottom: 9px;
	margin-top: -25px;
	h2{
		font-size: 55px;	
		margin: 10px 76px;
	}
	p{
			color: #757575;
	}
	.larrow,.rarrow{
		position: absolute;
		width: 100px;
		height: 100px;
		// .resaltar;
		top: 45px;
		background: #b7df2d;;
		.border-radius(50%); 
		.gradient(~'radial-gradient(ellipse at center, #d1f75f 0%,#b1d93b 100%)');
	}
	.larrow{
		left: -60px;
		&:after{
			position: absolute;
			width: 30px;
			height: 30px;
			content: '';
			display: block;
			.sprites;
			/*background: url("../img/sprites6.png") top left no-repeat;*/
			background-position: -97px -440px;
			bottom: 35px;
			left: 63px;
		}
		// .sprites;
		// background-position: 
	}
	.rarrow{
		right: -61px;
		&:after{
			position: absolute;
			width: 23px;
			height: 30px;
			content: '';
			display: block;
			.sprites;
			/*background: url("../img/sprites6.png") top left no-repeat;*/
			background-position: -98px -399px;
			bottom: 35px;
			left: 15px;
		}
	}
}
#top_image{
	margin-bottom: 20px;
	.ads{
		width:334px;
		height: 284px;
		float: left;
		text-align: center;
		>*{
			margin: 16px auto; 
		}
	}
	.square{
		margin: 16px auto;
		float: none;
		background: #DFDFDF;
	}
	img{
		max-width: 646px; 
	}
}
#notice_content{
	padding: 10px;
	font-size: 16px;
	font-weight: 300;
	
	aside{
		// .resaltar;
		width: 245px;
		// height: 300px;
		float: right;
		margin-left: 50px;
		background: #eee;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAK1tbX/GWF8EKe5uZkRLADjgNiMyByQAAC7aw57ffXkiwAAAABJRU5ErkJggg==) repeat;
	}
	p{
		margin-bottom: 20px;
		text-align: justify;
		color: #757575;
	}
	.content{
		overflow: hidden;
		small{
			font-size: 12px;
			font-style: italic;
		}
	}

}
.lista_images{
	img{
		margin-right: 3px;
		width: 165px;
		height: 136px;
	}
}
.acordeon{
	margin: 5px;
	.border-radius(6px);

	h3{
		padding: 8px 13px;
		font-size: 13px;
		font-weight: normal;
		border-top: 1px solid #E6E6E6;
		.mygradient(#fff,#eee);
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			position: absolute;
			.sprites;
			/*background: url("../img/sprites6.png") top left no-repeat;*/
			background-position:-167px -524px;
			top: 10px;
			right: 11px;
		}
	}
	.acordeon_content{
		background: #fff;	
	}
}
.features_big{
	font-size: 0;
	padding: 12px 6px;
	li{
		font-size: 11px;
		display: inline-block;
		padding: 7px 4px 7px 38px;
		// background: #F00;
		width: 69px;
		font-weight: 400;
		em{
			display: block;
			color: #7E7E7E;
			font-size: 11px; 
		}
		position: relative;
		&:after{
			.sprites;
			position: absolute;
			content: '';
			top: 5px;
			left: 3px;
			width: 33px;
			height: 33px;
		}
	}

	.b_android:after{
		background-position: -150px -114px;
	}
	.b_core:after{
		background-position: -90px  -114px;
	}
	.b_mem:after{
		background-position: -90px -64px;
	}
	.b_display:after{
		background-position: -150px -64px;
	}
	.b_pic:after{
		background-position: -90px -16px;
	}
	.b_video:after{
		background-position: -150px -16px;
	}

}
.phone{
	background: #FFF;
	margin: 5px 5px 0 5px;
	.border-radius(6px);
	position: relative;
	height: 156px;
	img{
		position: absolute;
		top: 23px;
		left: 25px;
	}
	h3{
		position: absolute;
		top: 20px;
		left: 98px;
		font-weight: bold;
		font-size: 20px;
		em{
			display: block;
			font-weight: 300;
		}
	}
	small{
		color: #B8B8B8;
		font-size: 12px;
		position: absolute;
		top: 87px;
		left: 97px;
	}
	.preco{
		color: #97BA16;
		display: block;
		font-size: 29px;
		font-weight: 400;
		position: absolute;
		top: 97px;
		left: 95px;
	}
	.point{
		position: absolute;
		top: 26px;
		left: -41px;
		width:auto;
		padding: 6px 12px;
		font-size: 12px;
		.opacity(.86);
		strong{
			font-size: 26px;
		}
	}
}
.lista_images{
	margin-bottom: 20px;
}
#related_notices{
	padding: 35px 10px;
	background: #f7f7f7;
	ul{
		width: 675px;
		display: inline-block;
		vertical-align: top;
		li{
			display: inline-block;
			width: 158px;
			vertical-align: top;
			margin-right: 8px;

			img{
				width: 157px;
				height: 130px;
			}

			h3{
				font-weight: bold;
				border-top: 1px solid #E9E9E9;
				padding-top: 10px;
				margin-top: 3px;
				margin-bottom: 10px;
				font-size: 14px;
			}
			p{
				font-size: 12px;
				color: #858585;
				font-weight: 300;
				line-height: 20px;
				.yellow_comments{
					margin-right: 10px;
					font-weight: 400;
				}
			}
		}		
	}
	.square{
		width: 274px;
	}
}

#last_topics{
	background: #EEEEEE;
	padding:10px 10px 50px;
	font-size: 0;
	position: relative;
	h2{
		font-size: 20px;
		font-weight: 300;
		margin: 15px 0 20px;
	}
	.gray_comments{	
		position: static;
	}
	ul{
		text-align: center;
	}
}
#eti_android{
		background: #a2cc20;
		color: white;
		font-size: 15px;
		// width: 150px;
		position: absolute;
		right: -12px;
		top: 15px;
		padding: 8px 11px;
		.logo_android{
			.sprites;
			display: inline-block;
			vertical-align: middle;
			width: 22px;
			height: 25px;
			background-position: -95px -356px;
			margin-right: 5px;
		}
		.flecha{
			.sprites;
			display: inline-block;
			vertical-align: middle;
			width: 14px;
			height: 14px;
			background-position: -100px -488px;
			margin-left: 4px;
			margin-top: 2px;
		}
		&:after{
			content: '';
			display: block;
			border-width: 6px;
			border-style: solid;
			position: absolute;
			bottom: -12px;
			right: 0;
			border-color:#728f15 transparent transparent #728f15;
		}
}

.topic{
	background: #FFF;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #DDD;
	font-size: 12px;
	width: 187px;
	margin: 0 3px;
	text-align: left;
	img{
		border: 1px solid #fff;
		width: 185px;
		height: 175px; 
	}
	p{
		padding: 10px;
		color: #777;
	}
	.icos{
		padding:10px 6px 3px;
		.gray_comments{
			float: right;
			text-decoration: none;
			padding-right: 0px;
		}
	}
}

#comments{
	background: #fff;
	padding: 25px 12px;
	position: relative;
	hgroup{
		width: 650px;
		margin-bottom: 36px;
		h3{
			font-size: 26px;
		}
		h4{
			font-size: 18px;
			color: #c9c9c9;
			font-weight: 300;
			border-bottom: 1px dashed #ddd;
		}
	}
}
.single_comment{
	width: 650px;
	margin: 20px 0 28px;
	// border: 1px solid #F00;
	overflow: hidden;
	// .resaltar;
	.avatar{
		float: left;
		margin-right: 10px;
		border: 2px solid #ebebeb;
		background: #fff;
		padding: 1px;
		width: 74px;
		height: 74px;
	}
	h3{
		margin: 15px 0;
		font-size: 20px;
	}
	h4{
		font-size: 19px;
		padding-top: 14px;
	}
	small{
		color: #A3A3A3;
		font-size: 12px;
	}

	@buble_boder:#f1f1f1;
	@buble_bg:#F7F7F7;

	.bubble{
		background: @buble_bg;
		padding: 12px 14px;
		border: 1px solid @buble_boder;
		.border-radius(7px);
		clear: left;
		float: left;
		margin-left: 84px;
		position: relative; 
		line-height: 22px;  
		&:before,&:after{
			content: ' ';
			position: absolute;
			width: 0;
			height: 0;
		}
		&:before {		
			left: -37px;
			top: 9px;
			border-style: solid;
			border-width: 12px 18px;
			border-color: @buble_boder @buble_boder transparent transparent;
		}
		&:after{		
			left: -34px;
			top: 10px;
			border-style: solid;
			border-width: 11px 17px;
			border-color: @buble_bg @buble_bg transparent transparent;
		}
	}

	&.new{
		// .resaltar;
		.avatar{
			width: 48px;
			height: 48px;
		}
		.bubble{
			clear: none; 
			float: none;
			padding: 10px;
			.box-shadow(inset -2px 3px 7px #EEE);
			&:before {		
				left:-41px;
				border-width: 13px 20px;
				border-color:transparent @buble_boder transparent transparent; 
			}
			&:after{
				left: -36px;
				border-style: solid;
				border-width: 12px 18px;
				border-color:transparent @buble_bg transparent transparent; 
			}
		
			textarea{
				border: none;
				background: none;
				width:88%;
				height: 70px;
				font-family: 'Roboto', sans-serif;
				color:#777;
				font-size: 12px;
				line-height: 20px;
				overflow: hidden;
				resize:vertical;

			}
			.submit{
				position: absolute; 
				bottom: 10px;
				right: 10px;
				color: white;
				text-shadow: 0 1px 2px #222;
				border: none;
				.border-radius(5px);
				.mygradient(#98BBBB,#6E8D93);
				padding: 7px 9px;
				font-size: 12px;
			}
		}
	}

}
.features_phone{
	border-collapse: separate;
	width: 96%;
	border-spacing: 4px;
	font-weight: 300;
	font-size: 16px;
	margin: 20px 0;
	caption{
		color: #FFF;
		background: #77BBEE;
		width: 149px;
		padding: 14px 10px 14px 15px;
		margin-left: 4px;
		position: relative;
		text-align: left;
		font-size: 16px;
		font-weight: bold;
		&:after{
			content: '';
			display: block;
			width: 932px;
			height: 4px;
			background:#77BBEE;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	tbody{
		tr{
			td{
				width: 155px;
				padding: 14px 10px;
				&:first-child{
					font-weight: bold;
					width: 103px;
					font-size: 14px;
				}


				// &:nth-child(2){
				// 	width: 80px;
				// }	
				// &:nth-child(3){
				// 	width: 80px;
				// }
				// &:nth-child(4){
				// 	width: 80px;
				// }
			}
			&:nth-child(odd){
				background: #f3f3f3;
			}	
			.green{
				background: #DEFF9B;
			}

		}
	}
}
.ads_top{
	padding: 18px 0 18px 10px;
}

#social_buttons{
	margin-top: 30px;
	margin-bottom: 15px;
	li{
		display: inline-block;
		width: 90px;
		margin-right: 10px; 
		// .resaltar;
		strong{
			display: block;
			.border-radius(3px);
			background-color: #fff;
			border: solid 1px #c3c3c3;
			text-align: center;
			padding: 10px 0;
			// font-weight: 400;
			font-size: 20px;
			position: relative;
			&:before{
				position: absolute;
				content: '';
				display: block;
				border-width: 6px;
				border-style: solid;
				border-color: #c3c3c3 transparent transparent transparent;
				bottom: -13px;
				left: 41px;
			}
			&:after{
				position: absolute;
				content: '';
				display: block;
				border-width: 6px;
				border-style: solid;
				border-color: #fff transparent transparent transparent;
				bottom: -12px;
				left: 41px;
			}
		}
		button{
			background: #D5D5D5;
			color: white;
			text-shadow:0 1px 1px #222;
			font-size: 12px;
			display: block;
			width: 100%;
			.border-radius(2px);
			padding: 6px 0px 6px 26px;
			margin-top: 12px; 
			font-weight: 400;
			position: relative;
			&:after{
				.sprites;
				position: absolute;
				content: '';
				display: block;
				top: 4px;
				left: 10px;
			}

		}
		&.social_gplus button{
			.mygradient(#f14d38, #a62b1b);
			&:after{
				width: 22px;
				height: 22px;
				background-position: -100px -241px;
			}			
		}
		&.social_like button{
			.mygradient(#6d91db,#3c5995);
			&:after{
				width: 22px;
				height: 22px;
				background-position: -97px -204px;
			}
		}
		&.social_tweet button{
			.mygradient(#62d2f7,#39b7e3);
			&:after{
				width: 24px;
				height: 22px;
				background-position: -96px -169px;
			}
		}
		&.social_share button{
			.mygradient(#6d91db,#3c5995);
			&:after{
				width: 22px;
				height: 22px;
				background-position: -100px -277px;
			}
		}
		&.social_orkut button{
			.mygradient(#e99bd5,#cf5cb0);
			&:after{
				width: 22px;
				height: 22px;
				background-position: -96px -311px;
			}
		}
	}
	&.comparision{
		text-align: center;
		padding: 50px 0 40px;
		margin:0;
	}
}
#topic_test{
	width: 980px;
	height: 213px;
	margin: 0 auto 25px;
	position: relative;
	color: white;
	p{
		position: absolute;
		top: 0;
		font-size: 35px;
		font-weight: 600;
		padding: 10px 17px;
		text-shadow: 1px 1px 2px #222;
		a{
			margin-right: -4px;
		}
	}
	ul{
		position: absolute;
		text-shadow: 2px 2px 2px #3A3A3A;
		top: 59px;
		left: 20px;
		li{
			float: left;
			margin-right: 55px;
		}
	}
	#eti_android{
		text-shadow: 1px 1px 2px #7C7C7C;
		padding: 7px 20px;
		.box-shadow(-1px 2px 1px rgba(27, 27, 27, 0.17));
		right: -7px;
		strong{
			font-weight: bold;
			font-size: 17px;
		}
		&:after{
			border-width: 4px;
			bottom: -8px;
		}
	}
}

#topics{
	border-top: 1px solid #dddcdc;
	padding-top: 20px;
	font-size: 0;
	margin: 0 10px;

}

.topic_item{
		.ib;
		width: 234px;
		margin-right: 13px; 
		margin-bottom: 30px;
		position: relative;
		&:nth-child(4n){
			margin-right: 0;
		}
	img{width: 234px; height: 124px; }
	label{
			font-size: 13px;
			border-bottom: 2px solid #DDD;
			padding-bottom: 4px;
			float: right;
			position: relative;
			color: #7c7c7c;
			// margin-top: -2px;
			a{
				position: static;
				padding-right: 0;
				padding-top: 4px;
				font-size: 12px;

			}
	}
	.eti_app{
		position: absolute;
		top: 89px;
		left: -8px;
		background: #fcd742;
		.box-shadow(3px 2px 0 rgba(56, 56, 56, 0.31));
		color:#89710f;
		font-size: 11px;
		.border-radius(0 3px 3px 0);
		padding: 5px 10px 5px 8px;
		strong{
			font-weight: bold;
			font-size:12px;
		}
		&:after{
			border-width: 4px;
			border-style: solid;
			content: '';
			display: block;
			border-color: #CA851D #CA851D transparent transparent;
			position: absolute;
			bottom: -8px;
			left: 0px;

		}
	}

	.ico_sos{
		border-bottom: 1px solid #DDD;
		padding: 20px 0 5px;
		height: 22px;
	}
	h2{
		color: #3e3e3e;
		font-size: 16px;
		margin-top: 8px;
	}
	a{
		text-decoration: none;
		color: inherit;
	}

}

/*
* ============= SECCION PARA COMPARA
**/

#compare_container1{
	/*border: 1px solid red;*/
	background: white;
	// calcular el width dependiento de las columnas
	float: left;
}

#compare_container2{
	background: #F2F2F2;
	height: 491px;
	position: relative;
	font-size: 0;
	/*border: 1px solid blue;*/
	min-width: 1000px;
	#controles{
		/*position: absolute;*/
		/*.resaltar;*/
		width: 172px;
		margin-top: 190px;
		font-size: 17px;
		/*top: 200px;*/
		/*left: 12px;*/
	}
}
#columns_phones{
	position: relative;
	float: left;
	/*border: 1px solid green;*/
}
#phone_columns{
	margin-left: 183px;
	position: relative;
	/*border: 1px solid blue;*/
}

#controles_titles{
	width: 100%;
	position: absolute; 
	/*border: 1px solid red;*/
}

#add_phone{
	width: 100px;
	/*.resaltar;*/
	position: absolute;
	right: 0;
	top: 200px;
	font-size: 13px;
	width: 39px;
	text-align: right;
	padding: 19px 5px;
	box-shadow:6px -2px 4px rgba(54, 54, 54, 0.13),6px 2px 4px rgba(70, 70, 70, 0.07);
	color: #696969;
	strong{
		display: block;
		font-weight: bold;
	}
}
.boton_verde{
	.mygradient(#B7EC18,#9ECA1B);
	padding: 8px 10px;
	color: white;
	text-shadow: 1px 1px 2px #000;
	.border-radius(6px);
	font-size: 12px;
	width: 108px;
	top:200px;
	margin-bottom: 8px;
}
.phone_column{
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	width: 248px;
	margin-top: 26px;
	/*cursor: move;*/
	// position: relative;
	// .transition(all .2s ease-out);
	// &:hover{
		/*.box-shadow(0px -2px 15px #A5A5A5);  */
		/*top: -6px;*/
		/*background: #ddd;*/
	// }
}

.phone_column_features{
	font-size: 17px;
	margin-top: 0px;
	background: white;
	font-weight: 300;
	margin-bottom: 65px;
	li{
			padding: 11px 13px;
			/*height: 49px;*/
			/*line-height: 49px;*/
			/*border: 1px solid blue;*/
	}
	li:nth-child(even){ 
		background: #F6F6F6; 
	}
 
}
.wrong,.ok{
		width: 23px;
		height: 23px;
		.sprites;
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;
		/*margin: 0 6px;*/
}
.wrong{
	background-position:-161px -227px;
}
.ok{
	background-position:-161px -276px;
}
.phone_column_features li.good{
	background: #E0F9C7;
}
.big_phone{
	height: 430px;
	position: relative;
	background: #fff;
	width: 248px;
	text-align: center;
	.border-radius(8px);
	cursor: move; 
	h2{
		font-size: 20px;
		position: absolute;
		bottom: 10px;
		margin: 0 auto 12px;
		left: 0;
		right: 0;
		/*font-weight: bold;*/
	}
	>div{
		/*background: #FFF;*/
		width: 190px;
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 17px;
		padding: 7px 0;
	}
	.remove{
		position: absolute;
		width: 25px;
		height: 26px;
		top: 0;
		right: 0;
		.sprites;
		/*background: url("../img/sprites6.png") top left no-repeat;*/
		background-position: -159px -174px;
		/*background-position: */
	}
}
.double{
	height: 42px;
	line-height: 42px;
}
.row_titles{
	/*margin-top: 80px;*/
	margin-top: 270px;
	margin-left: 10px;
	h3{
		/*background:white;		*/
		color: white;
		border-bottom: 3px solid #71B2E7;
		font-size: 15px;
		/*margin-top: 20px;*/
		strong{
			display: block;
			background: #71B2E7;
			height: 46px;
			width: 153px;
			line-height: 46px;
			padding-left: 10px;
			font-weight: bold;
		}

	}
	.phone_column_features{
		font-weight: 400;
		font-size: 14px;
		width: 163px;
		margin-top: 0;
		margin-bottom: 16px;
		li{
			padding: 13px 8px;
			/*border: 1px solid red;*/
		}
	}
}
 
.bubble_costo{
	color: #7EA7A9;
	background:#F2F2F2;
	font-size: 14px;
	border: 4px solid #fff;
	.border-radius(10px);
	text-align: center;
	padding: 6px 10px 15px;
	width: 65%;
	margin: 6px auto;
	position: relative;
	margin-top: 22px;
	margin-bottom: 20px;
	strong{
		font-size: 22px;
		font-weight: bold;
		margin-right: 3px;
	}
	em{
		font-size: 18px;
		font-style: italic;
		font-weight: 300;
	}
	button{
		display: block;
		background: #9FBC47;
		color:white;
		text-transform: uppercase;
		margin: 0 auto;
		font-size: 12px;
		margin-top: 5px;
		padding: 4px 20px;
		.border-radius(4px);
	}
	&:before{
		display: block;
		content: '';
		border-width: 14px;
		position: absolute;
		border-style: solid;
		border-color:transparent transparent white transparent;
		top: -28px;
		left: 74px;
	}
	&:after{
		display: block;
		content: '';
		border-width: 9px;
		position: absolute;
		border-style: solid;
		border-color:transparent transparent #F2F2F2 transparent;
		top: -17px;
		left: 79px;
	}

}
#confronta,#video{

	&:before{
		display: block;
		float: left;
		content: '';
		.sprites;
		margin-right: 1px;
	}
	margin-left: 15px;
	text-align: left;
	width: 144PX;

}
#confronta:before{
	width: 57px;
	height: 37px;
	background-position: -143px -324px;
}
#video:before{
	width: 57px;
	height: 37px;
	background-position: -81px -391px;
	background-size: 141px;
}

.over_column{
	background: #9eca1b;
	/*.box-shadow(0 0 15px #222);  */
	/*.opacity(.1);*/
	/*border: 1px dashed red;*/
	/*.scale(1.1);*/ 
	.big_phone{
		/*background: none;*/
		/*padding: 5px;*/
	}
	li{
		/*background: blue !important;*/
	}
}

.moving_column{
	/*border: 1px dashed #222;*/
	/*background: #9eca1b;*/
	.opacity(0);
	// .box-shadow(0 0 10px #000)

}

.drop_column{
	.opacity(1);
	/*background: blue;*/
}



#search_phones{
	/*border: 1px solid #F00;*/
	height: 455px;
	width: 250px;
	float: left;
	font-size: 14px;
	background: url(../img/phone_mockup.png) no-repeat center center;
	position: relative;
	input[type='text']{
		border: 1px solid #AED638;
		border-left-width: 3px;
		padding: 8px 12px;
		position: absolute;
		top: 210px;
		width: 137px;
		left: 29px;
	}
	input[type='button']{
		/*.sprites;*/
		width: 39px;
		height: 34px;
		/*.mygradient(#aed638,#9fcb1b);*/
		border: 0;
		position: absolute;
		top: 210px;
		right: 23px;
		.sprites;

		background-color:#adde19; 
		background-position: -153px -385px;
	}
}
.smartphones{
	float: left;
	/*background: red;*/
	font-size: 14px;
	margin-top: 110px;
	/*border: 1px solid blue;*/
	margin-left: 10px;
	width: 287px;
}
.sp{
	/*width: 298px;*/
	background: white;
	/*border: 1px solid red;*/
	border-bottom: 1px solid #eee;
	padding: 18px 12px;
	img{
		width: 51px;
		height: 102px;
		background: #eee;
		float: left; 
		margin-right: 25px;
	}
	h3{
		font-size: 20px;
		font-weight: 400;
		margin-top: -5px;
		&.gray:before{
			background-position: -131px -758px;
		}
		&:before{
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			.sprites;
		
			background-position: -131px -716px;
		
			margin-right: 4px;
			
			top: 2px;
			position: relative;
		}
	}
	h4{
		font-size: 20px;
		font-weight: 300;
		&.gray:before{
			background-position: -131px -780px;
		}
		&:before{
			content: '';
			display: inline-block;
			width: 18px;
			height: 18px;
			.sprites;
		
			background-position: -131px -737px;
		
			margin-right: 4px;
			
			top: 2px;
			position: relative;
		}
	}
	>div{
		/*overflow: hidden;*/
		/*border: 1px solid green;*/
		margin-top:13px;
		.point{
			/*.scale(.6);*/
			width: 40px;
			height: 38px;
			/*border: 1px solid #F00;*/
			float: left;
			padding: 0px;
			font-size: 10px;
			strong{
				font-size: 18px;
				line-height: 16px;
				padding-top: 6px;
			}
		}
		small{
			color: #aaa;
			vertical-align: top;
			font-size: 12px;
		}
		p{
			margin-top: -6px;
			strong{
				font-size: 23px;
				color: #93BA1D;
				padding-right: 5px;
			}
			small{
				color: #93BA1D;
				vertical-align: baseline; 
				font-size: 14px;
			}
		}
	}
}
.ad_side{
	margin-top: 30px;
	img{
		max-width: 100%;
	}
}
   
#diferencias{
	clear: both;
	h3{
		font-size: 22px;
		margin-bottom: 10px; 
	}
	p{
		color: #818181;
		margin-bottom:15px;
	}
}
.floatingbar{
	position: fixed !important;
	top: 0px;
	z-index: 1200 !important;
	background: white;
	left: 0;
	right: 0 ;
	margin: 0 auto;
	width: 100%!important;
	.box-shadow(0 2px 7px #d6d6d6);
}
#floatbar{
	display: none;
	background: none;
	box-shadow: none;  
	/*.resaltar;*/
	.container{
		padding:15px 0px;
		background: #EEE;
		.box-shadow(0 2px 6px #D1D1D1);
		width: 1000px;
		/*margin-left: 200px;*/
	}
	#controles{
		display: inline-block;
		width: 176px;
		vertical-align: middle;
		/*border: 1px solid red;*/
	}
	#confronta,#video{
		.scale(.85);
		margin-left: 0;
		margin-bottom: 0;
	}
	.big_phone{
		display: inline-block;
		height: auto;
		position: static;
		width: auto;
		/*.resaltar;*/
		vertical-align: middle;
		width: 190px;
		margin-right: 45px;
		padding: 12px;
		cursor: auto;

		img{
			width: 70px;
			height: 148px;
			float: left;
			margin-right: 8px;
		}
	}
	.bubble_costo{
		width: auto;
		position: static;
		float: left;
		background: 0;
		text-align: left;
		padding:12px 0 0 0;
		border: none;
	}
	h2{
		position: static;
		font-size: 20px;
		text-align: left;
		padding-top: 8px;
		margin-bottom: 4px;
	}
	#search_phones{
		position: relative;
		float: none;
		width: 250px;
		height: 200px;
		display: inline-block;
		vertical-align: middle;
		background:url("../img/grayphone.gif") no-repeat center center;
		/*background-size: 80px;*/
		input[type='text']{
			padding: 6px 12px;			
			top: 84px;
			width: 100px;
			left: 45px;
		}
		input[type='button']{
			width: 37px;
			height: 30px;
			top: 84px;
			right: 42px;
			.sprites;
			background-color: #adde19;
			background-position: -155px -386px;
		}
	}
}
#compare_mini{
	background: #eee;
	padding: 10px;
	overflow: hidden;
	.ad_side{
		float: right;
	}
}

#puntajes{
	float: left;
	/*.resaltar;*/
	
	>ul{
		display: inline-block;
		margin-top: 152px;
		margin-right: 10px;
		li{
			margin-bottom:8px;
			width: 250px;
			height: 65px;
			line-height: 65px;
			text-align: right;
			background: #FFF;
			padding-right: 17px;
			font-size: 16px;
			font-weight: 300;
		
		}
	}

	li.finale{
		height: 80px;
		line-height: 80px;
		font-size: 20px;
		margin-top: 30px;
	}
}
#phone_points{
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	height: 512px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALOnDnznxFdHCRoYmLCiCIBEwQphksgC8Il0AXBEtgEQRIAsDsXagWOqrQAAAAASUVORK5CYII=) repeat;
	position: relative;
	ul{
		li{
			margin-bottom:8px;
			width: 250px;
			height: 65px;
			line-height: 65px;
			text-align: right;
			background: #f7f7f7; 
			padding-right: 17px;
			font-size: 16px;
			font-weight: 300;
		}
	}
}
#phone_points .column_point_phone{
	display: inline-block;
	position: relative;
	z-index: 2;
	margin:0 10px;
	vertical-align: top;
	/*border: 1px solid blue;*/
	>div{
		background: #FFF;
		padding: 12px 16px;
		width: 50px;
		height: 88px;
		text-align: center;
		margin-bottom: 18px;
		border:1px solid #CFCFCF;
		img{
			width: 45px;
		}
	}
	ul{
		/*.resaltar;*/

		li{
			width: auto;
			background: none;
			text-align: center;
			margin: 0 0 8px;
			padding: 0;
			font-size: 26px;
			font-weight: 400;
			height: 65px;
			line-height: 65px;
			&.finale{
				height: 78px;
				line-height: 83px;
				font-size: 30px;
				margin-top: 30px;
				.sprites;
				background-position: -123px -611px;
			}
		}
		&.winner{
			background: #AADDCC;
			border: 1px solid #757575;
			padding-top: 8px;
			margin-top: -8px;
		}
	}
}

ul#rows{
	/*border: 1px solid #00F;*/
	position: absolute;
	top: 152px;
	left: 0;
	right: 0;
	li{ 
		width: auto;
		padding-right: 0;
		background: #EEE;
		margin: 0 18px 8px;
	}	
}

#video_comparision{
	background:#1C1C1C;
	padding:15px 10px;
	/*overflow: hidden;*/
	position: relative; 
	height: 610px;
	margin-bottom: 20px;
}
#video_container{
	/*.resaltar;*/
	/*float: left;*/
	.ib;
	width: 730px; 
	margin-right: 18px;
}
#thumbs_videos{
	background: #313131;
	width: 220px;
	max-height: 478px;
	/*float: right;*/
	.ib;
	position: absolute;
	padding: 15px 6px; 
	/*margin-right: 10px;*/
	ul{
		text-align: center;
	}
	p{
		color: #8F8F8F;
		margin-bottom: 5px;
		text-align: left;
		line-height: 14px;
	}
	strong{
		color: white;
	}
	&:after{
		content: '';
		display: block;
		border-style:solid;
		border-width: 10px 14px 10px 10px;
		border-color: transparent #313131 transparent transparent;
		position: absolute;
		top: 12px;
		left: -24px;
	}
	img{
		width: 183px;
		height: 98px;
		border: 5px solid #464542;
	}
	li{
		/*margin-bottom: 20px;*/
		.ib;
		margin: 0 10px 15px;
	}
}
#title_video{
	color: #888;
	position: relative;
	padding-left: 94px;
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 17px;
	h3{
		color: white;
		font-size: 28px;
	}
	em{
		color:#AADD13;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		width: 100px;
		height: 57px;
		.sprites;
		background-position:-108px -548px;
		left: 0;
		bottom: 21px;
	}
}
.ads_comments{
	position: absolute;
	right: 10px;
	top: 36px;
}
#phoneslider{
	background: #ededed;
	padding: 45px 10px; 
	position: relative;
	ul{
		overflow: hidden;
		width: 2000em;
		li{
			float: left;
			margin: 0 23px;
			text-align: center;
			/*background: #F00;*/
			width: 109px; 
			div{
				background: #fff;  
				padding: 18px 14px;
				text-align: center;
				.border-radius(6px);
				width: 80px;
				img{
					min-width: 70px;
					max-width: 70px;
					height: 130px;
				}
			}
			p{
				margin-top: 10px;
				padding: 3px 10px;
				font-size: 12px;
			}
		}
	}
	.right_arrow{
		position: absolute;
		top: 105px; 
		right: 10px;
		display: block;
		.sprites;
		width: 39px;
		height: 69px;
		background-position: -163px -449px;
	}
}
#view_scroll{
	width:905px;
	overflow: hidden;
}
.placehold{
	border: 1px solid red;
}

#cel_list{
	
	aside{
		background: #F1F5F8;
		width: 316px;
		height: 1000px;
		margin-right: 10px; 
		.ib;
	}
	#cellphones_list{
		.ib;
		/*.resaltar;*/
		width: 658px;
		article{
			border-bottom: 1px solid #eee;
			padding-bottom: 16px;
			margin-bottom: 10px;
			padding-top: 10px;
		}
	}
}

#cellphones_list{
	article{
		>*{
			.ib;
		}
		.point{
			margin-top: 14px;
			margin-right: 4px;
			width: 48px;
			height: 48px;
			line-height: 2px;
			padding: 0;
			font-size: 11px;
			strong{
				font-size: 21px;
				line-height: normal;
				padding-top: 4px;
			}

		}
		img{
			margin-right: 10px;
			width: 60px;
		}
		div.details{
			width:156px;
			margin-right: 10px;
			/*.resaltar;*/
			h4{
				font-size: 17px;
				margin: 5px 0 15px;
				strong{
					font-weight: bold;
				}
			}
			.preco_bar{
				color: white;
				background: #BFD775;
				font-size: 18px;
				.border-radius(3px);
				margin-bottom: 10px;
				/*cursor: pointer; */
				label{
					background: #92BB14;
					font-size: 10px;
					width: 60px;
					.ib;
					vertical-align: middle;
					text-align: center;
					padding: 7px 1px;
					position: relative;
					.border-radius(3px 0 0 3px); 
					font-weight: bold;
					text-shadow: 0 1px 1px #838383; 
					cursor: pointer; 
					&:before{
							display: block;
							content: '';
							border-style:solid;
							position: absolute;
							right: -14px;
							top: 0;
							border-top-width:20px; 
							border-right-width:0px;  
							border-bottom-width:20px; 
							border-left-width:12px; 
							border-color:transparent transparent transparent white; 
					}

					&:after{
							display: block;
							content: '';
							border-style:solid;
							position: absolute;
							right: -12px;
							top: 0;
							border-top-width:20px; 
							border-right-width:0px;  
							border-bottom-width:20px; 
							border-left-width:12px; 
							border-color:transparent transparent transparent #92BB14; 
					}
				}
				span{
					.ib;
					font-size: 20px;
					text-shadow: 1px 1px 1px #A5A5A5;
					vertical-align: middle;
					margin-left: 12px;
					small{
						font-size: 14px;
					}
				}
				&.aviso{
					background: #9FC1C3;
					label{
						width: 23px;
						font-size: 22px;
						height: 27px;
						font-weight: 300;
						padding-left: 7px;
						background: #8FADAF;
						&:after{
							border-left-color: #8FADAF;
						}
					}
					span{
						font-size: 12px;
					}
				}
			}
			.add_compare{
				color: #222;
				text-decoration: none;
				display: block;
				font-size: 14px;
				font-weight: 400;
				&:before{
					width: 25px;
					height: 28px;
					display: inline-block;
					vertical-align: middle;
					content: '';
					.sprites;
					background-position: -71px -566px;
				}
			}
		}
	}
}




.title_bar{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQIW2NkwALOnDnznxFdHCRoYmLCiCIBEwQphksgC8Il0AXBEtgEQRIAsDsXagWOqrQAAAAASUVORK5CYII=) repeat;

	width: 670px;
	.ib;
	right: -1px;
	position: relative;
	margin-bottom: 15px;
	h3{
		background: #A2CC20;
		float: right;
		padding: 10px 8px 10px 16px;
		color: white;
		text-shadow: 1px 1px 1px #818181;
		border-left: 15px solid white; 
		font-size: 17px;
		strong{
			font-size: 19px;
			margin-left: 5px;
		}
	}
}

@circle_color:#B1CFD1;
@circle_color_hover:#7DABB0;

.circle{
	.sprites;
	background-color: @circle_color;
	position: relative;
	width: 40px;
	height: 40px;
	.border-radius(50%);
	display: block;
	margin: 0 auto 13px;
	&:after{  
		display: block;
		content: '';
		border-style:solid;
		position: absolute;
		bottom: -5px;
		left: 16px;
		border-top-width:6px; 
		border-right-width:3px;  
		border-bottom-width:0px; 
		border-left-width:3px; 
		border-color:@circle_color transparent transparent transparent; 
	}
}

	.circle_features{
		margin-top: 15px; 
		li{
			/*.resaltar;*/
			width: 80px;
			text-align: center;
			float: left;
			font-size: 13px;
			color: #979797;
			line-height:  15px;
			strong{
				color: #535353;
				display: block;
			}
		}
	}

	.candroid{
		background-position: -66px -657px;
		&:after{
			display: none;
		}
	}
	.ccamera{
		background-position: -64px -608px;	
		&:hover{
			background-color: @circle_color_hover;
			&:after{
				border-top-color: @circle_color_hover;
			}
		}
	}
	.ccore{
		background-position: -65px -701px;
		&:hover{
			background-color: @circle_color_hover;
			&:after{
				border-top-color: @circle_color_hover;
			}
		}
	}
	.cdisplay{
		background-position: -67px -748px;
		&:hover{
			background-color: @circle_color_hover;
			&:after{
				border-top-color: @circle_color_hover;
			}
		}
	}


.arrow_green:after{
	content: '';
	display: inline-block;
	width: 19px;
	height: 19px;
	.sprites;
	vertical-align: top;
	background-position: -176px -688px;
	margin-left: 5px;

}