				@font-face {
				    font-family: 'tudosansregular';
				    src: url('fonts/tudosansc-webfont.eot');
				    src: url('fonts/tudosansc-webfont.eot?#iefix') format('embedded-opentype'),
				         url('fonts/tudosansc-webfont.woff') format('woff'),
				         url('fonts/tudosansc-webfont.ttf') format('truetype'),
				         url('fonts/tudosansc-webfont.svg#tudosanscregular') format('svg');
				    font-weight: normal;
				    font-style: normal;

				}