section#comments
	.hgroup
		h3 4 Comentarios
		h4 Sansumg Galaxy S3 - <a href="#">Deixe um Comentario</a>
	div.fr pagina 1 de 59 - <a href="#">Ultima Pagina</a>
	.single_comment
		img.avatar(src="img/divisiones_r3_c2.png" )
		h4 Livia_schidt
		small 21 de Marzo @ 33:09 #1
		p.bubble.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet praesentium officia ut voluptatum perspiciatis.
				<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet pr
	.single_comment
		img.avatar(src="img/divisiones_r5_c2.png" )
		h4 Livia_schidt
		small 21 de Marzo @ 33:09 #1
		p.bubble.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet praesentium officia ut voluptatum perspiciatis.

	.single_comment
		img.avatar(src="img/divisiones_r7_c2.png" )
		h4 Livia_schidt
		small 21 de Marzo @ 33:09 #1
		p.bubble.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit

	.single_comment
		img.avatar(src="img/divisiones_r9_c4.png" )
		h4 Livia_schidt
		small 21 de Marzo @ 33:09 #1
		p.bubble.
			sLorem ipsum dolor sit amet<br/> consectetur adipisicing elit. Voluptatibus, suscipit

	.single_comment.new
		img.avatar(src="img/divisiones_r9_c4.png" )
		form
			p.bubble
				textarea.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, suscipit, maxime consequuntur repellat pariatur reiciendis neque temporibus laudantium amet magnam maiores consectetur quos molestias. Amet praesentium officia ut voluptatum perspiciatis.
				input.submit(type="submit") Publica
	block content