- var enlaces_lista=[{link:'scheda_tecnica.html',texto:'Dados Tecnicos'},{link:'review.html',texto:'Review'},{link:'foto.html',texto:'Foto'},{link:'video.html',texto:'Video'},{link:'comentarios.html',texto:'Comentarios'},{link:'precos.html',texto:'Preco'},{link:'#',texto:'Compare'},{link:'#',texto:'Blog'},{link:'#',texto:'Papeis de Parede'}] 
!!!
html(lang="en")
	include head
	body
		.container#main_container
			.innerpadding
				header
					a(href='#')
						img(src='img/logo_principal.gif', alt='Tudo Celular')
					input#search(type='text')
			//- Incluida top_nav.jade
			include top_nav
		
			.ads_top
				img(src='img/ad_wide.png', alt='', width='728', height='90')
				img(src='img/ad_face.png', alt='', width='258', height='90')
					
			section.innerpadding.clearfix
				aside.narrow_column
					img(src='img/white_phone.jpg', alt='', width='160', height='304')
					ul.lista_cursor
						for enlace in enlaces_lista
							if enlace.texto=='Comentarios'
								li: a.activo(href=enlace.link)=enlace.texto
							else
								li: a(href=enlace.link)=enlace.texto
					a(href="#")
						.barcode
							em Melhor Preco
							strong 2,500 R$
				.wide_column
					#etiqueta
						img(src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta")
						.item_big_fichas
							span.prezzolow(id="prezzolow") 1,665
							small 10x290 R$
						map(name="m_etiqueta" id="m_etiqueta")
							area(shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" alt="")
					h2 <strong>Samsung</strong> Galaxy S3
					small Foto
					.iconos.clearfix
						.item
							i.ico_rede
							span Rede
							strong HSPA+
						.item
							i.ico_quad
							span Quad Core
							strong 1.4Ghz
						.item
							i.ico_mem
							span Memoria
							strong 16 GB+
						.item
							i.ico_mem
							span Gps
							strong Sim
						.item
							i.ico_android
							span Android
							strong 4.2.2
						.item
							i.ico_display
							span Display
							strong 4.8
						.item
							i.ico_foto
							span Foto
							strong HSPA+
						.item
							i.ico_video
							span Video
							strong Full HD
					p.
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
						Donec odio. Quisque volutpat mattis eros. 
						Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra  semper suscipit, posuere a, pede.
					include block_comments
			//- Incluida seccion onde_comprar.jade
									
			include onde_comprar
			#social_buttons.social_centrado 
				ul
					li.social_gplus
						strong 100
						button Plus
					li.social_like
						strong 22
						button Like
					li.social_tweet
						strong 355
						button Tweet
					li.social_share
						strong 43
						button Share
					li.social_orkut
						strong 56
						button Orkut
			include related_notices
		include footer
