footer
	.container
		a#logo(href='#')
			img(src='img/slicing_66.gif', alt='tudocelular')
		p © 2013 - Pixel Research Ltd - Todos os direitos reservados
		.footer_nav
			a(href='#') Fale conosco »
			a(href='#') Redação »
			a(href='#') Newsletter »
			a(href='#') Notícias no seu site »
			a(href='#') Anuncie »
		.social
			a(href='#'): i.sprites.fb
			a(href='#'): i.sprites.tw
			a(href='#'): i.sprites.yt
			a(href='#'): i.sprites.g
			a(href='#'): i.sprites.rss
