head
	title Tudo Celular
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=1090')
	//
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700', rel='stylesheet', type='text/css')
	
	style
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 100;
			src: local('Roboto Thin'), local('Roboto-Thin'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 300;
			src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 500;
			src: local('Roboto Medium'), local('Roboto-Medium'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto';
			font-style: normal;
			font-weight: 700;
			src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v9/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
		}

		@font-face {
			font-family: 'Roboto Condensed';
			font-style: normal;
			font-weight: 300;
			src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nNeiznanRB67rGZDYkMvKPc.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto Condensed';
			font-style: normal;
			font-weight: 400;
			src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
		}
		@font-face {
			font-family: 'Roboto Condensed';
			font-style: normal;
			font-weight: 700;
			src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v8/b9QBgL0iMZfDSpmcXcE8nCSLrGe-fkSRw2DeVgOoWcQ.woff) format('woff');
		}
	

	link(rel='stylesheet', href='css/style.css')
	script(src='scripts/scripts.js') 
	//if lt IE 9
		script(src='//html5shiv.googlecode.com/svn/tdrunk/html5.js')
		script
		window.html5 || document.write('<script src="scripts/ie8down/html5shiv.js"><\\/script>')
