!!! 5
html(lang='en')
  include head
  body
    #main_container.container
      .innerpadding
        header
          a(href='')
            img(src='img/logo_principal.gif', alt='Tudo Celular', width='279', height='79')
          input#search(type='text')
      include top_nav
      .ads_top
        img(src='img/ad_wide.png', alt='', width='728', height='90')
        img(src='img/ad_face.png', alt='', width='258', height='90')
      section.threcolums
        section.listagrande
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='notizia.html')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='notizia.html')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='notizia_senza.html')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='notizia_senza.html')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
        section.listachica
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.apple(href='') asdfasdf
              a.windows(href='') windows
              a.gray_comments(href='#') 145
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_32.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 100
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_45.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 89
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_52.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 45
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
            a(href='#')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 5
        section.modelos
          .ads.square
            img(src='img/ad_square.png', alt='', width='301', height='252')
          article.modelo_item
            h2
              a(href='#') Huawei Ascend P2 
            .details
              .point
                strong 9.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_36.png', alt='')
              ul.features
                li.so_apple
                  | Windows Phone
                  strong 7
                li.cpu Dual core 1175 Ghz
                li.display Display 4.3”
                li.camera
                  | Fotocamera
                  strong 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia Lumia 720
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_48.png', alt='')
              ul.features
                li.so_apple
                  | Bada
                  strong 2.0
                li.cpu Dual core 1175 Ghz
                li.display
                  | Display
                  strong 4.3”
                li.camera Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia 301
            .details
              .point.mid
                strong 6.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_53.png', alt='')
              ul.features
                li.camera
                  | Bada
                  strong 2.0
                li.display Dual core 1175 Ghz
                li.cpu
                  | Display
                  strong 4.3”
                li.so_apple Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Morotola RAZR DR3
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/grayphone.gif', alt='')
              ul.features
                li
                  | Bada
                  strong 2.0
                li Dual core 1175 Ghz
                li
                  | Display
                  strong 4.3”
                li Fotocamera 10 Mpx
                li.flechita
      section.videos_phones_container.clearfix
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p LG Optimus L7
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Samsung Galaxy Note
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Motorola Atrix TV
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p LG Optimus 4X HD
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Nokia 808 PureView
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Motorola Razor i
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p LG Optimus L7
        a.video_phone(href='#')
          img(src='img/transparent.png', data-src='img/telef.jpg', alt='', width='244', height='138')
          p Motorola Lumix
      section.threcolums
        section.listagrande
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='#')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='#')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_15.png', alt='', width='115', height='95')
            a(href='#')
              h2 Vendas de smartphones aumentam 42% e Android lidera
            p
              a.yellow_comments(href='#') 80
              | 12 marzo 2013 - Segundo a mais recente pesquisa da Gartner, 440,5 milhões de
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_22.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia usará processadores dual-core da ST-Ericsson nos Windows Phones 8
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_34.png', alt='', width='115', height='95')
            a(href='#')
              h2 Nokia Champagne pode ser o primeiro Windows Phone Tango
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A Sony Ericsson - ou talvez agora apenas "Sony", depois que a companhia japonesa comprou 50% da joint-
          article.newlist_normal
            a.thumb_new_image(href='#')
              img(src='img/transparent.png', data-src='img/slicing_44.png', alt='', width='115', height='95')
            a(href='#')
              h2 Rovo Xperia Arc com display HD?
            p
              a.yellow_comments(href='#') 80
              | 11 marzo 2013 - A joint-venture
        section.listachica
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.apple(href='') asdfasdf
              a.windows(href='') windows
              a.gray_comments(href='#') 145
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_32.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 100
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_45.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 89
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_52.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 45
          article.newlist_icos
            a(href='#')
              img(src='img/transparent.png', data-src='img/slicing_18.png', alt='', width='199', height='103')
              h2 Los mejores reproductores musicales para Android
            p.ico_sos
              a.android(href='') android
              a.windows(href='') windows
              a.gray_comments(href='#') 5
        section.modelos
          .ads.square
            img(src='img/ad_square.png', alt='', width='301', height='252')
          article.modelo_item
            h2
              a(href='#') Huawei Ascend P2
            .details
              .point
                strong 9.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_36.png', alt='')
              ul.features
                li.so_apple
                  | Windows Phone
                  strong 7
                li.cpu Dual core 1175 Ghz
                li.display Display 4.3”
                li.camera
                  | Fotocamera
                  strong 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia Lumia 720
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_48.png', alt='')
              ul.features
                li.so_apple
                  | Bada
                  strong 2.0
                li.cpu Dual core 1175 Ghz
                li.display
                  | Display
                  strong 4.3”
                li.camera Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Nokia 301
            .details
              .point.mid
                strong 6.5
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/slicing_53.png', alt='')
              ul.features
                li.camera
                  | Bada
                  strong 2.0
                li.display Dual core 1175 Ghz
                li.cpu
                  | Display
                  strong 4.3”
                li.so_apple Fotocamera 10 Mpx
                li.flechita
          article.modelo_item
            h2
              a(href='#') Morotola RAZR DR3
            .details
              .point
                strong 7.0
                | score
              a(href='#')
                img(src='img/transparent.png', data-src='img/grayphone.gif', alt='')
              ul.features
                li
                  | Bada
                  strong 2.0
                li Dual core 1175 Ghz
                li
                  | Display
                  strong 4.3”
                li Fotocamera 10 Mpx
                li.flechita
      section#compara.clearfix
        .pholder
          div
            input(type='text')
        i.sprites.plus
        .pholder
        i.sprites.plus
        .pholder
          div
            input(type='text')
        #comparabtn
          a(href='#') Compara 
      include versus
    include footer
    script(src='scripts/jquery.min.js')
    script(src='scripts/scripts.js')
