section.onde_comprar.clearfix
	.wide_column
		.hgroup
			h3 Onde Comprar
			h4 As ofertas baratas para Samsung Galaxy S3 - <a>Todas las Ofertas</a>
		.compras_items
			.item_compra
				a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
				a.desc(href="#")
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
				.shop_places
					a.shop_logo(href="#")
						img(src="img/webfones.jpg" width=80 height=24)
						| webfones
					.price
						a(href="#"): strong 799 <small>R$</small>
						a.green_button(href="#") VEDI OFERTA
			.item_compra
				a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
				a.desc(href="#")
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
				.shop_places
					a.shop_logo(href="#")
						img(src="img/shopfato.jpg" width=80 height=24)
						| shopfato
					.price
						a(href="#"): strong 799 <small>R$</small>
						a.green_button(href="#") VEDI OFERTA
			.item_compra
				a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
				a.desc(href="#")
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
				.shop_places
					a.shop_logo(href="#")
						img(src="img/webfones.jpg" width=80 height=24)
						| webfones
					.price
						a(href="#"): strong 799 <small>R$</small>
						a.green_button(href="#") VEDI OFERTA
		a.centered(href="#") Ver todas las ofertas