- var enlaces_lista=[{link:'scheda_tecnica.html',texto:'Dados Tecnicos'},{link:'review.html',texto:'Review'},{link:'foto.html',texto:'Foto'},{link:'video.html',texto:'Video'},{link:'comentarios.html',texto:'Comentarios'},{link:'precos.html',texto:'Preco'},{link:'#',texto:'Compare'},{link:'#',texto:'Blog'},{link:'#',texto:'Papeis de Parede'}] 
!!!
html(lang="en")
	include head
	body
		.container#main_container
			.innerpadding
				header
					a(href='#')
						img(src='img/logo_principal.gif', alt='Tudo Celular')
					input#search(type='text')
			//- Incluida top_nav.jade 
			include top_nav
		
			.ads_top
				img(src='img/ad_wide.png', alt='', width='728', height='90')
				img(src='img/ad_face.png', alt='', width='258', height='90')
					
			section.innerpadding.clearfix
				aside.narrow_column
					img(src='img/white_phone.jpg', alt='', width='160', height='304')
					ul.lista_cursor
						for enlace in enlaces_lista
							if enlace.texto=='Preco'
								li: a.activo(href=enlace.link)=enlace.texto
							else
								li: a(href=enlace.link)=enlace.texto
					a(href="#")
						.barcode
							em Melhor Preco
							strong 2,500 R$
				.wide_column
					#etiqueta
						img(src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta")
						.item_big_fichas
							span.prezzolow(id="prezzolow") 1,665
							small 10x290 R$
						map(name="m_etiqueta" id="m_etiqueta")
							area(shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" alt="")
					h2 <strong>Samsung</strong> Galaxy S3
					small Especificaciones Caracteristicas e Ficha Tecnica
					.iconos.clearfix
						.item
							i.ico_rede
							span Rede
							strong HSPA+
						.item
							i.ico_quad
							span Quad Core
							strong 1.4Ghz
						.item
							i.ico_mem
							span Memoria
							strong 16 GB+
						.item
							i.ico_mem
							span Gps
							strong Sim
						.item
							i.ico_android
							span Android
							strong 4.2.2
						.item
							i.ico_display
							span Display
							strong 4.8
						.item
							i.ico_foto
							span Foto
							strong HSPA+
						.item
							i.ico_video
							span Video
							strong Full HD
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.tabs
						ul
							li: a#th1.activo(href="#" onclick="return switchtab(1)") Precos de Novos (61)								
							li: a#th2(href="#" onclick="return switchtab(2)") Precos de Usados (2)
							li: a#th3(href="#" onclick="return switchtab(3)") Mer cado Libre (5)

					
						#table1.tabs_content
							.tab_header
									|Samsung Galaxy S3: <strong>16 Ofertas</strong> em <strong>8 Lojas</strong>
									.negocio Loja
									.price
										a(href="#") Precos  <img src="img/freccia_dw.gif" />
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
						#table2.tabs_content
							.tab_header
								| Samsung Galaxy S3: <strong>2 Ofertas</strong> de <strong>Usados</strong>
								.negocio Loja
								.price
									a(href="#") Precos  <img src="img/freccia_dw.gif" />
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
						#table3.tabs_content
							.tab_header
								| Samsung Galaxy S3: <strong>5 Ofertas</strong> em <strong>8 Lojas</strong>
								.negocio Loja
								.price
									a(href="#") Precos  <img src="img/freccia_dw.gif" />
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/webfones.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r3_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/shopfato.jpg" width=80 height=24)
										| shopfato
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
							.item_compra
								a.thum_compra(href="#"): img(src="img/icones_r1_c1.jpg" width="90" height="90")
								a.desc(href="#")
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
								.shop_places
									a.shop_logo(href="#")
										img(src="img/girafa.jpg" width=80 height=24)
										| webfones
									.price
										a(href="#"): strong 799 <small>R$</small>
										a.green_button(href="#") VEDI OFERTA
			section#phoneslider
				h2 Celulares similies
				#view_scroll
					ul
						li
							a(href='')
								div
									img(src='img/slicing_36.png', alt='')
								p Samsung Galaxy S4
						li
							a(href='')
								div
									img(src='img/slicing_48.png', alt='')
							p Nokia Lumia 720
						li
							a(href='')
								div
									img(src='img/slicing_53.png', alt='')
							p HTC One
						li
							a(href='')
								div
									img(src='img/divisiones_r4_c12.png', alt='')
							p Samsung Galaxy S3
						li
							a(href='')
								div
									img(src='img/tel_grande1.png', alt='')
							p Sony Xperia Z
						li
							a(href='')
								div
									img(src='img/tel_grande2.png', alt='')
							p Apple Iphone 5
						li
							a(href='')
								div
									img(src='img/tel_grande1.png', alt='')
							p Nokia 5830
											
		include footer
