section#last_topics.clearfix
  h2 Notícias relacionadas
  //- #eti_android
  //-   i.logo_android
  //-   | Android
  //-   i.flecha
  ul
    li.topic
      a(href='')
        img(src='img/divisiones_r11_c3.png', alt='')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
      p.icos
        a.android(href='')
        a.windows(href='')
        a.gray_comments(href='') 80
    li.topic
      a(href='')
        img(src='img/divisiones_r11_c12.png', alt='')
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, suscipit ame
      p.icos
        a.android(href='')
        a.gray_comments(href='') 80
    li.topic
      a(href='')
        img(src='img/divisiones_r11_c19.png', alt='')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
      p.icos
        a.android(href='')
        a.apple(href='')
        a.gray_comments(href='') 80
    li.topic
      a(href='')
        img(src='img/divisiones_r11_c25.png', alt='')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
      p.icos
        a.android(href='')
        a.windows(href='')
        a.apple(href='')
        a.gray_comments(href='') 80
    li.topic
      a(href='')
        img(src='img/divisiones_r11_c30.png', alt='')
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
      p.icos
        a.apple(href='')
        a.android(href='')
        a.windows(href='')
        a.gray_comments(href='') 80
