- var enlaces_lista=[{link:'scheda_tecnica.html',texto:'Dados Tecnicos'},{link:'review.html',texto:'Review'},{link:'foto.html',texto:'Foto'},{link:'video.html',texto:'Video'},{link:'comentarios.html',texto:'Comentarios'},{link:'precos.html',texto:'Preco'},{link:'#',texto:'Compare'},{link:'#',texto:'Blog'},{link:'#',texto:'Papeis de Parede'}] 
!!!
html(lang="en")
	include head
	body
		.container#main_container
			.innerpadding
				header
					a(href='#')
						img(src='img/logo_principal.gif', alt='Tudo Celular')
					input#search(type='text')
			//- Incluida top_nav.jade 
			include top_nav
		
			.ads_top
				img(src='img/ad_wide.png', alt='', width='728', height='90')
				img(src='img/ad_face.png', alt='', width='258', height='90')
					
			section.innerpadding.clearfix
				aside.narrow_column
					img(src='img/white_phone.jpg', alt='', width='160', height='304')
					ul.lista_cursor
						for enlace in enlaces_lista
							if enlace.texto=='Review'
								li: a.activo(href=enlace.link)=enlace.texto
							else
								li: a(href=enlace.link)=enlace.texto
					a(href="#")
						.barcode
							em Melhor Preco
							strong 2,500 R$
				.wide_column
					#etiqueta
						img(src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta")
						.item_big_fichas
							span.prezzolow(id="prezzolow") 1,665
							small 10x290 R$
						map(name="m_etiqueta" id="m_etiqueta")
							area(shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" target="_blank")
					h2 <strong>Samsung</strong> Galaxy S3
					small Review
					.top_review
						.ritem
							|Custo - benefício
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
						.ritem
							|Comodidade
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Multimidia
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Embalagem y caracteristicas
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Facilidad de uso
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
						.ritem
							|Votacao Geral
							.estrellas
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_yellow_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
								img(src="img/star_gray_mini.png" width=14 height=13)
					.topicos_review
						h4 Topicos do Review
						a.pagetop(href="#")
							span 1
							| Unboxing
						a.pagetop(href="#")
							span 2
							| Parte  externa
						a.pagetop(href="#")
							span 3
							| Dimensiones pegada e peso
						a.pagetop(href="#")
							span 4
							| Desmpenho do Android
						a.pagetop(href="#")
							span 5
							| Jogos e multimedia
						a.pagetop(href="#")
							span 6
							| Camera
					.review_video
						a.image_video(href="#")
							img(src="img/webbb_r4_c18.png" width=154 height=86)
						.model_title HTC Desire HD
						strong Prova em video 
						a.green_button VER VIDEO

					.image_label
						.labelo UNBOXING
						img(src="img/webbb_r4_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					img.mr(src="img/webbb_r6_c2.png" width=254 height=209)
					img.mr(src="img/webbb_r6_c14.png" width=254 height=209)
					img.mr(src="img/webbb_r6_c20.png" width=254 height=209)

					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					.image_label
						.labelo FUNCONES E MATERIALS
						img(src="img/webbb_r8_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.image_label
						.labelo DIMENSIONES E RECURSOS
						img(src="img/webbb_r10_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/><br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.image_label
						.labelo CAMARA
						img(src="img/webbb_r12_c2.png" width=764 height=343)
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					#grid_images.clearfix
						img.aleft(src="img/webbb_r14_c2.png" width=382 height=209)
						img.aleft(src="img/webbb_r14_c16.png" width=382 height=209)
						img.aleft(src="img/webbb_r16_c2.png" width=382 height=209)
						img.aleft(src="img/webbb_r16_c16.png" width=382 height=209)

					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					.image_label.clearfix#fracos_fortes
						.labelo PONTOS FORTES E PONTOS FRACOS
						.pontos#fortes
							img(src="img/webbb_r18_c3.png" width=63 height=70)
							ul
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
						.pontos#fracos
							img(src="img/webbb_r19_c17.png" width=63 height=70)
							ul
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
								li: <span>Tela de alta resolucao e alta qualidade nas cores</span>
					
					.labelo CONCLUSAO
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.labelo AVALIACAO FINAL DO TUDOCELULAR.COM
					.avaliacao
						.item_avaliacao
							strong Custo - benefício
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						.item_avaliacao
							strong Embalagem e caracteristicas
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  <br/>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.item_avaliacao
							strong Comodidade
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						.item_avaliacao
							strong Multimidia
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						.item_avaliacao
							strong Votacao general
							.stars_desc
								.estrellas_big
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_yellow.png" width=19 height=19)
									img(src="img/star_gray.png" width=19 height=19)
								p.
									Ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			section#video_section.clearfix.innerpadding
				.wide_column					
					.player_video
						h3 TESTE DE CAMERA: SAMSUNG GALAXY S III
						img.player(src="img/player1.jpg" width=728 height=441)
						a(href="#"): img.banner_bottom_ad(src="img/banner_bottom.jpg" width=728 height=89)
						a(href="#").add_comment Adicionar um comentario para o <em>Samsung Galaxy S3</em>

			#social_buttons.social_centrado 
				ul
					li.social_gplus
						strong 100
						button Plus
					li.social_like
						strong 22
						button Like
					li.social_tweet
						strong 355
						button Tweet
					li.social_share
						strong 43
						button Share
					li.social_orkut
						strong 56
						button Orkut		
			//- Incluida seccion onde_comprar.jade						
			include onde_comprar
		include footer
