- var enlaces_lista=[{link:'scheda_tecnica.html',texto:'Dados Tecnicos'},{link:'review.html',texto:'Review'},{link:'foto.html',texto:'Foto'},{link:'video.html',texto:'Video'},{link:'comentarios.html',texto:'Comentarios'},{link:'precos.html',texto:'Preco'},{link:'#',texto:'Compare'},{link:'#',texto:'Blog'},{link:'#',texto:'Papeis de Parede'}] 
!!!
html(lang="en")
	include head
	body
		.container#main_container
			.innerpadding
				header
					a(href='#')
						img(src='img/logo_principal.gif', alt='Tudo Celular')
					input#search(type='text')
			//- Incluida top_nav.jade 
			include top_nav
		
			.ads_top
				img(src='img/ad_wide.png', alt='', width='728', height='90')
				img(src='img/ad_face.png', alt='', width='258', height='90')
					
			section.innerpadding.clearfix
				aside.narrow_column
					img(src='img/white_phone.jpg', alt='', width='160', height='304')
					ul.lista_cursor
						for enlace in enlaces_lista
							if enlace.texto=='Dados Tecnicos'
								li: a.activo(href=enlace.link)=enlace.texto
							else
								li: a(href=enlace.link)=enlace.texto
					a(href="#")
						.barcode
							em Melhor Preco
							strong 2,500 R$
				.wide_column
					#etiqueta
						img(src="img/transparent.png" width="100%" height="100%" usemap="#m_etiqueta")
						.item_big_fichas
							span.prezzolow(id="prezzolow") 1,665
							small 10x290 R$
						map(name="m_etiqueta" id="m_etiqueta")
							area(shape="poly" coords="13,91,130,23,171,94,55,161,13,91" href="#" alt="")
					h2 <strong>Samsung</strong> Galaxy S3
					small Especificaciones Caracteristicas e Ficha Tecnica
					.iconos.clearfix
						.item
							i.ico_rede
							span Rede
							strong HSPA+
						.item
							i.ico_quad
							span Quad Core
							strong 1.4Ghz
						.item
							i.ico_mem
							span Memoria
							strong 16 GB+
						.item
							i.ico_mem
							span Gps
							strong Sim
						.item
							i.ico_android
							span Android
							strong 4.2.2
						.item
							i.ico_display
							span Display
							strong 4.8
						.item
							i.ico_foto
							span Foto
							strong HSPA+
						.item
							i.ico_video
							span Video
							strong Full HD
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					#columns_phones
						#controles_titles
							.row_titles
								ul.phone_column_features
									li Sismtema Operacional
									li Tipo
									li Disponibilidade
									li Antena
									li Dimensiones
									li Peso
								h3
									strong REDE
								ul.phone_column_features
									li.double Gsm
									li Dual Sim
								h3
									strong DATA TRANSFER
								ul.phone_column_features
									li GPRS
									li EDGE
									li UMTS
									li HSPDA
									li HSPA+
									li LTE
									li HSPA+
									li Max Download Speed
									li Max Uload Speed
								h3
									strong DADOS TECNICOS
								ul.phone_column_features
									li Chipset
									li Proccesador
									li Memória
									li Memória Expansível
								h3
									strong CONECTIVIDADE
								ul.phone_column_features
									li Wi-Fi
									li Bluetooth
									li USB
									li NFC
									li GPS
								h3
									strong MENSAGEM
								ul.phone_column_features
									li SMS
									li MMS
									li Email
									li Push Mail
									li Auto Filling
									li Polegadas
									li Resolucao
									li Tipo
									li Touchscreen
						#phone_columns
							.phone_column
								ul.phone_column_features
									li iOS 6
									li Bar
									li 2013/2
									li Integrada
									li 167.6x88x8mm
									li 199 gramos
								ul.phone_column_features
									li.double Quad Band (850/900/1800/1900)
									li: i.wrong
									ul.phone_column_features
									li: i.ok
									li: i.ok
									li: i.wrong
									li: i.ok
									li: i.wrong
									li: i.ok
									li: i.ok
									li 100 Mbps
									li 50 Mbps
								ul.phone_column_features
									li -
									li 1.7 Ghz Dual Core
									li 16 GB
									li Micro SD At 64GB
									ul.phone_column_features
									li 802.11 a/g/n
									li 1.7 Ghz Dual Core
									li 16 GB
									li Micro SD At 64GB
									li A-GPS/GLONASS
								ul.phone_column_features
									li: i.ok
									li: i.ok
									li: i.ok
									li: i.ok
									li.good
										i.ok
										| 79
									li 6.3
									li.good 720X1280 pixel
									li TFT
									li.good
										i.ok
										| Capacitiva
					aside.smartphones
						.ad_side
							img(src='img/ad_square.png', alt='', width='301', height='252')
						.sp.floating_tiles_holder
							a.thumb_new_image(href='')
								img(src='img/slicing_36.png', alt='', width='51', height='102')
							h3
								a(href='compara_3tel.html') Samsung
							h4
								a(href='compara_3tel.html') Galaxy S2
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.8479
										small R$
							.tiles_holder
								.tile.big_tile.arrow_left
								ul
									li: a.active(href='#') Ultimas
									li: a(href='#') Android
									li: a(href='') IOS
									li: a(href='') Windows Phone
						.sp
							a.thumb_new_image(href='')
								img(src='img/slicing_48.png', alt='', width='51', height='102')
							h3
								a(href='compara_8tel.html') ZTE
							h4.gray
								a(href='compara_8tel.html') Geek
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.000
										small R$
						.sp
							a.thumb_new_image(href='')
								img(src='img/slicing_36.png', alt='', width='51', height='102')
							h3
								a(href='') Samsung
							h4
								a(href='') Galaxy S2
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.8479
										small R$
						.sp
							a.thumb_new_image(href='')
								img(src='img/slicing_48.png', alt='', width='51', height='102')
							h3.gray
								a(href='') Huawei
							h4.gray
								a(href='') Ascend Y210D
							div
								.point
									strong 9.5
									| score
								small Melhor Preco
								p
									a(href='')
										strong 1.000
										small R$

			#social_buttons.social_centrado 
				ul
					li.social_gplus
						strong 100
						button Plus
					li.social_like
						strong 22
						button Like
					li.social_tweet
						strong 355
						button Tweet
					li.social_share
						strong 43
						button Share
					li.social_orkut
						strong 56
						button Orkut		
			//- Incluida seccion onde_comprar.jade						
			include onde_comprar

			section.innerpadding.clearfix
				.wide_column
					include block_comments
			include related_notices
		include footer
