#nav_menu
	nav#topnav
		a#home(href='index_videos.html')
		#seccionlogin
			a#iclogin(href='index_logged.html')
			#loginform.submenu
				.content
					p: input(type='text', placeholder='USERNAME')
					p: input(type='text', placeholder='PASSWORD')
					p.remember
						label
							input(type='checkbox', name='')
							| Remember me
					p
						input#loginbtn(type='button'
											value='Login'
											onclick='document.location=\'index_logged.html\'')
						input#register(type='button', value='Register')
		ul
			li: a(href="#") Forum
			li: a(href="tudo_android.html")
				|Tudo <strong class="color_android">Android</strong>
			li: a(href="tudo_windows.html")
				|Tudo <strong class="color_windows">Windows</strong>
			li: a(href="tudo_apple.html")
				|Tudo <strong class="color_apple">Apple</strong>
			li: a(href='#') Guias
			li
				a(href='celulares_home.html') Celulares
				.submenu
					.content.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, vero, labore, aut et eius ad in quos eveniet eligendi dolorem unde doloribus soluta accusamus! Repudiandae aliquid mollitia quos perferendis quod.
								<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, accusamus, amet, natus voluptas quas dolores aspernatur vel quos ipsum possimus consequatur impedit laudantium asperiores eius in ab debitis optio autem.</div>
			li: a(href="compara_2tel.html") Compare
			li: a(href="review.html") Review
	nav
		ul#bottomnav
			li: a(href='topic.html') Topic
			li: a(href='celulares_home.html') Celulares
			li: a(href='compara_3tel.html') Provas
			li: a(href='compara_8tel.html') Compare
			li: a(href='') Temas
			li: a(href='') Walpapers
			li: a(href='') Precos
			li: a(href='') Forum
			li: a(href='#') Articole e guide
			li: a(href='compare_8tel.html') Celulares
			li: a(href='') Provas
