section#versus.clearfix
	a.versus_phones(href='')
		.sideleft
			p LG Optimus G Pro
			img(src='img/home_apps_1000_03_03.jpg', alt='')
		.sideright
			img(src='img/home_apps_1000_03_07.jpg', alt='')
			p HTC One
	a.versus_phones(href='')
		.sideleft
			p Huawei Ascend P2
			img(src='img/home_apps_1000_03_03.jpg', alt='')
		.sideright
			img(src='img/home_apps_1000_03_07.jpg', alt='')
			p Nokia Lumia 720
	a.versus_phones(href='')
		.sideleft
			p Huawei G615
			img(src='img/home_apps_1000_03_03.jpg', alt='')
		.sideright
			img(src='img/home_apps_1000_03_07.jpg', alt='')
			p ZTE Grand S
	a.versus_phones(href='')
		.sideleft
			p Samsung Galaxy Frame
			img(src='img/home_apps_1000_03_03.jpg', alt='')
		.sideright
			img(src='img/home_apps_1000_03_07.jpg', alt='')
			p Acer Liquid E1
	a.versus_phones(href='')
		.sideleft
			p Samsung Galaxy S2 Plus
			img(src='img/home_apps_1000_03_03.jpg', alt='')
		.sideright
			img(src='img/home_apps_1000_03_07.jpg', alt='')
			p RIM BlackBerry Z10
	a.versus_phones(href='')
		.sideleft
			p Sony Xperia Z
			img(src='img/home_apps_1000_03_03.jpg', alt='')
		.sideright
			img(src='img/home_apps_1000_03_07.jpg', alt='')
			p Huawei Ascend Mate
.bar_gray